{%- extends "base/layout.html" -%}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="sheet.css") }}?v={{ restart_id }}">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for("static", filename="live_edit.css") }}?v={{ restart_id }}">

    {% if owner %}
        <!-- {owner} -->
        <script src="{{ url_for("static", filename="live_edit.js") }}?v={{ restart_id }}"></script>

        {% for err in character.errors %}

            <!-- Error in Fensheet. Please Fix because some features rely on correct formatting. -->
            <!-- {{err|safe}} -->

        {% endfor %}
    {% endif %}
{% endblock %}
{%- macro dots(val,max=5) -%}
    {%- if val is not defined -%}
        {%- set val = 0 -%}
    {%- endif -%}
    {%- for i in range(val) -%}
        {%- if loop.index0%5 == 0 and loop.index0 > 0 %} {% endif -%}
        ●
    {%- endfor -%}
    {%- for i in range(max-val) -%}
        ○
    {%- endfor -%}
{%- endmacro -%}
{%- macro tablematrix(table, cat, path) -%}
    <table {% if owner %}class="editable" {% endif %}data-path="{{ path }}" data-type="table">
        {%- if table.headers -%}
            <thead class="heading">
            <tr class="tablebody">
                {%- for subline in table.headers -%}
                    <th>{{ infolet(subline) | safe }}</th>
                {%- endfor -%}
            </tr>
            </thead>
        {%- endif -%}
        <tbody>
        {% for line in table.rows -%}
            <tr class="tablebody">
                {% set outer_loop = loop %}
                {% for subline in line -%}
                    <td>{{ infolet(subline) | safe }}</td>
                {% endfor -%}
            </tr>

            </tbody>

        {%- endfor %}
    </table>
{% endmacro %}
{% macro sectionformat(cat,name) %}
    {%- for k,v in cat.items() -%}
        <table style="border-collapse: collapse">
            {%- if v is mapping -%}
                <thead>
                <tr>
                    <th data-path="{{ character.headings_used["values"] }}|{{ name|urlencode }}|{{ k[:30]|urlencode }}"
                        class="subheading
                {%- if owner %} editable{% endif %}" colspan="2">{{- k -}}</th>
                </tr>
                </thead>
                <tbody class="{%- if owner %} editable{% endif -%}"
                       data-path="{{ character.headings_used["values"] }}|{{ name|urlencode }}|{{ k[:30]|urlencode }}"
                       data-type="table">
                {% set notfirstsection = loop.index0 %}
                {%- for vk,vv in v.items() -%}
                    <tr class="tablebody">
                        <td class="connectable">&nbsp;{{ infolet(vk | remove_leading_underscore) | safe }}</td>
                        <td class="tooltip" style="text-align: right; width: 1%">
                            {%- if not notfirstsection
                                    or (vv|remove_leading_underscore|int(-1) != -1
                                    and (userconf["fensheet_dot_max"] |int) >= vv|remove_leading_underscore|int) -%}
                                {{- dots(vv|remove_leading_underscore|int, userconf["fensheet_dot_max"]|int(5)
                            if notfirstsection else 5)
                            if userconf["fensheet_dots"]|int(0) else vv }}
                                {%- else -%}{{ vv }}
                            {%- endif -%}
                            {%- if
                            k.lower() in character.fullpoint_sections %}
                                <span class="tooltip tooltiptext">+ {{ character.get_xp_for(vk) }} FP</span>{%- endif -%}
                        </td>
                    </tr>
                {%- endfor -%}
                </tbody>
            {% else %}
                Debug: {{ v }} has no items
            {%- endif -%}
        </table>
    {%- endfor %}
{% endmacro %}
{%- macro catformat(cat, name, cost) -%}
    <div class="gridwrapper category">
        <div tabindex="0" aria-describedby="{{ cat }}-tooltip"
             data-path="{{ character.headings_used["values"] }}|{{ name|urlencode }}"
             class="tooltip heading span-2{% if owner %} editable{% endif %}">{{ name }}
            <span class="tooltiptext" id="{{ cat }}-tooltip" role="tooltip">Options<br/>for {{ cost }}<br/>{% for l in
                    character.cost_calc(cost) %}{% for b in l %}{{ b }}{% if not loop.last %},{% endif %}{% endfor %}
                <br/> {% endfor %}</span>
        </div>
        {%- if cat is mapping -%}
            <div class="statblock">
                {{ sectionformat(cat,name) }}
            </div>
        {% else %}
            Error: {{ cat }} is no dict
        {% endif %}
    </div>
{%- endmacro -%}
{% macro treepart(tree, depth, name, path) %}
    <div{% if owner %} class="editable"{% endif %} data-path="{{ path }}">
        {{ md(infolet(tree.plaintext)) | safe }}
        <br/>
    </div>
    {% for table in tree.tables -%}
        <div id="{{ child }}-table">
            {{- tablematrix(table, name, path) }}
        </div>
    {% endfor %}
    {% for child, content in tree.children.items() %}
        {% set s=srs() %}
        <div id="{{ child }}-treepart">
            <input type="checkbox" class="hiderbox" id="{{ s }}">
            <label class="sheetheading depth{{ depth }}" for="{{ s }}" data-for="{{ s }}">{{ child }}</label>
            <div id="{{ s }}" class="content {% if owner %}editable{% endif %} nonempty"
                 data-path="{{ path+"|"+child }}">
                {{- treepart(content, depth + 1, child, path+"|"+child) -}}
            </div>
        </div>
    {% endfor %}
{% endmacro %}
{%- block title -%}
    {%- if character.Name -%}
        <title>{{ character.Character.Name }}</title>
    {%- else -%}
        <title>Charactersheet</title>
    {%- endif -%}
{%- endblock -%}
{%- block metanavcomplete -%}
    <div class="metanavcontainer">
        {{ super() }}
        {% if owner %}
            <div class="metanavcontainer">
                {% if owner %}
                    <a href="{{ url_for("wiki.editwiki", page=owner) }}" class="metanav textbtn">edit in wiki</a><br/>
                {% endif %}
            </div>
        {% endif %}
    </div>
{%- endblock -%}
{%- block body -%}
    <div style="visibility: hidden" id="context_element">{{ context }}</div>
    <div class="flexwrapper">
        {%- for key,val in character.Character.items() -%}
            <div class="infobox box{% if owner %} editable{% endif %}"
                 data-path="{{ character.headings_used["description"]|urlencode }}|{{ key|urlencode }}">
                <div class="heading box">{{ key }}</div>
                <div class="desc-text">
                    {%- if val is string -%}
                        {{ infolet(val) |safe }}
                    {%- else -%}
                        {{ infolet(val|join("\n"))|safe }}
                    {%- endif -%}
                </div>
            </div>
        {%- endfor -%}
    </div>
    <div class="flexwrapper categories">
        {%- for category,data in character.Categories.items() -%}
            {{- catformat(data, category, character.points(category))-}}
        {% endfor -%}
    </div>
    {%- for key,data in character.Meta.items() -%}
        {% set r = srs() %}
        <div id="{{ key }}-meta">
            <input type="checkbox" class="hiderbox" id="{{ r }}">
            <label class="sheetheading" for="{{ r }}" data-for="{{ r }}">{{ key }} </label>
            <div id="{{ r }}" class="content">
                {{ treepart(data,3, key, key) }}
            </div>
        </div>
    {%- endfor -%}
    <div>
        <button id="TopButton" title="Upwards">Top</button>
    </div>
    <div id="editfield" class="editfield">
        <form id="editform" action="{{ url_for("wiki.live_edit") }}" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <input name="context" type="hidden" value="{{ context }}">
            <input name="original" type="hidden" value="">
            <label for="text" class="overlay">Text to Change</label><br/>
            <textarea class="message" name="new" id="text"></textarea>
            <div style="justify-content: space-between; display: flex; width:100%; position:absolute; bottom:2px">
                <input type="button" class="bright bottombutton" value="Close" name="closebutton">
                <input type="submit" class="bright bottombutton" value="Overwrite">
            </div>
            <input name="type" type="hidden" value="text">
        </form>
    </div>
    <div id="table_editor" class="editfield_table">
        <form id="editform_table" action="{{ url_for("wiki.live_edit") }}" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <input name="context" type="hidden" value="{{ context }}">
            <input name="type" type="hidden" value="table">
            <input name="styles" type="hidden" value="">
            <input name="path" type="hidden" value="">
            <table id="table_editor">
                <thead>
                <tr></tr>
                </thead>
                <tbody></tbody>
            </table>
            <div style="justify-content: space-between; display: flex">
                <input type="button" class="bright bottombutton" value="Close" name="closebutton">
                <input type="button" class="bright bottombutton" value="+" name="addtable_entry">
                <input type="submit" class="bright bottombutton" value="Overwrite">
            </div>
        </form>
    </div>
    <div class="overlay" id="overlay"></div>
    <svg id="conn-svg"
         style="position:fixed;left:0;top:0;width:100%;height:100%;pointer-events:none;z-index:9999"></svg>
{%- endblock -%}
