{% extends "base/layout.html" %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename='mecha.css') }}?v={{ restart_id }}">
    <script src="{{ url_for("static", filename="mechasheet.js") }}?v={{ restart_id }}"></script>
{% endblock %}
{% block body %}

    <script>

    </script>
    <h3>Movement</h3>
    <div class="system-row">
        {% for energy in mech.Movement.values() %}
            <div hx-get="{{ url_for("sheets.mecha_sys", m=identifier, s="movement", n=energy.name) }}"
                 hx-swap="innerHTML"
                 hx-trigger="load"
            ></div>
        {% endfor %}
    </div>

    <h3>Energy</h3>
    <div class="system-row">
        {% for energy in mech.Energy.values() %}
            <div hx-get="{{ url_for("sheets.mecha_sys", m=identifier, s="energy", n=energy.name) }}"
                 hx-swap="innerHTML"
                 hx-trigger="load"
            ></div>
        {% endfor %}

    </div>

    <div hx-get="{{ url_for("sheets.energy_meter", m=identifier) }}"
         hx-swap="innerHTML"
         hx-trigger="load, htmx:afterSettle from:.system-row">
    </div>

    <h3>Heat</h3>
    <div class="system-row">
        {% for heat in mech.Heat.values() %}
            <div hx-get="{{ url_for("sheets.mecha_sys", m=identifier, s="heat", n=heat.name) }}"
                 hx-swap="innerHTML"
                 hx-trigger="load"
            ></div>
        {% endfor %}
    </div>

    <h3>Offensive</h3>
    <div class="system-row">
        {% for system in mech.Offensive.values() %}
            <div hx-get="{{ url_for('sheets.mecha_sys', m=identifier, s='offensive', n=system.name) }}"
                 hx-swap="innerHTML"
                 hx-trigger="load"></div>
        {% endfor %}
    </div>

    <h3>Defensive</h3>
    <div class="system-row">
        {% for system in mech.Defensive.values() %}
            <div hx-get="{{ url_for('sheets.mecha_sys', m=identifier, s='defensive', n=system.name) }}"
                 hx-swap="innerHTML"
                 hx-trigger="load"></div>
        {% endfor %}
    </div>

    <h3>Support</h3>
    <div class="system-row">
        {% for system in mech.Support.values() %}
            <div hx-get="{{ url_for('sheets.mecha_sys', m=identifier, s='support', n=system.name) }}"
                 hx-swap="innerHTML"
                 hx-trigger="load"></div>
        {% endfor %}
    </div>
    <h3>Seal</h3>
    <div style="display: grid; grid-template-columns: repeat(2, 1fr);">
        <div>Name</div>
        <div>Level</div>
        {% for seal in mech.Seal.values() %}
            <div>{{ seal.name }}</div>
            <div>{{ seal.level }}</div>
        {% endfor %}
    </div>


{% endblock %}
