{% extends "base/layout.html" %}
{% block head %}
    <link rel="stylesheet" type=text/css href="{{ url_for("map.css") }}">
    <script type="text/javascript" src="{{ url_for("svg-pan-zoom.min.js") }}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.slim.js"></script>

    <!--suppress JSUnresolvedFunction -->
    <script>
        /* var colours = ["#332628", "#cc999e", "#ff001a", "#591631", "#bf004d", "#ff409f",
             "#594353", "#a6538d", "#331a30", "#f23de0", "#f2bfff", "#4c1659",
             "#8d29a6", "#8c40ff", "#3900bf", "#9980ff", "#8a86b3", "#0a0066",
             "#333366", "#b6cef2", "#001433", "#0047b3", "#23588c", "#398fe6",
             "#1a4f66", "#00a3cc", "#99c7cc", "#006666", "#008080", "#009999",
             "#00b3b3", "#00d9d9", "#00ff99", "#269960", "#26332b", "#ace6c3",
             "#0d3318", "#455943", "#67d936", "#397300", "#e6f2b6", "#bdcc33",
             "#99994d", "#403920", "#ffb300", "#f2c279", "#7f5920", "#a65300",
             "#ff6600", "#ffd2bf", "#b27459", "#661f00", "#cc5233", "#400600",
             "#8c4646", "#ff8080"];*/
        let scrolling = true;

        function plzIn() {

        }

        function plzOut() {

        }

        function report() {
            console.log(this.id)
        }

        function preventDefault(e) {
            if (scrolling) {
                return true
            }

            if (e.preventDefault)
                e.preventDefault();
            e.returnValue = false;
            alert("notscrolled!");

        }

        const keys = {37: 1, 38: 1, 39: 1, 40: 1};

        function preventDefaultForScrollKeys(e) {
            if (keys[e.keyCode]) {
                preventDefault(e);
                return false;
            }
        }

        function disableScroll() {
            console.log("entering map");
            if (window.addEventListener) // older FF
                window.addEventListener('DOMMouseScroll', preventDefault, false);
            window.onwheel = preventDefault; // modern standard
            window.onmousewheel = document.onmousewheel = preventDefault; // older browsers, IE
            window.ontouchmove = preventDefault; // mobile
            document.onkeydown = preventDefaultForScrollKeys;
        }

        function mapIn() {
            scrolling = false
        }

        function mapOut() {
            scrolling = true
        }


        disableScroll();

        $(document).ready(function () {
            document.getElementById("page_complete").style.minWidth = "60em";
            let plzs = $(".plz");
            const mapsvg = document.getElementById("map");
            //mapsvg.addEventListener("mouseenter", mapIn);
            //mapsvg.addEventListener("mouseleave", mapOut);
            console.log("adding");
            $.getJSON("{{ url_for("views.mapdata") }}", {}).done(function (mapdata) {
                let i;
                const svgDoc = mapsvg.contentDocument;
                plzs = svgDoc.getElementsByClassName("plz");
                console.log("plzlength:", plzs.length);
                console.log("mapdata:", mapdata.keys);
                console.log("from:", "{{ url_for("views.mapdata") }}");
                for (i = 0; i < plzs.length; i++) {

                    const plz = plzs.item(i);
                    plz.addEventListener("mouseenter", plzIn);
                    plz.addEventListener("mouseleave", plzOut);
                    plz.addEventListener("mousedown", report);
                    const desc = document.createElementNS("http://www.w3.org/2000/svg", "title");
                    const name = plz.id;
                    let node = null;
                    if (name in mapdata) {
                        node = document.createTextNode('PLZ: ' + name +
                            '\nOwner: ' + mapdata[name]['owner'] +
                            '\nTags: ' + mapdata[name]['tags'] +
                            '\nData: ' + mapdata[name]['data']);
                        $(plz).attr("tags", mapdata[name]['tags']);
                        $(plz).addClass(mapdata[name]['owner']);
                    } else {
                        node = document.createTextNode('PLZ: ' + name +
                            '\nOwner: Garou' +
                            '\nTags: Unowned' +
                            '\nData: ');
                        $(plz).attr("tags", 'Unowned');
                    }
                    desc.appendChild(node);
                    plz.appendChild(desc);
                    const text = document.createElementNS("http://www.w3.org/2000/svg", "text");
                    const plztext = document.createTextNode(plz.id);
                    text.appendChild(plztext);

                    text.setAttribute("x", (plz.getBBox().x + plz.getBBox().width / 2 - 15).toString());
                    text.setAttribute("y", (plz.getBBox().y + plz.getBBox().height / 2).toString());
                    text.setAttribute("style", "fill:#040444");
                    text.setAttribute("class", "svgtext");
                    plz.appendChild(text);

                }
                svgPanZoom("#map", {
                    zoomEnabled: true
                    , panEnabled: true
                    , controlIconsEnabled: true
                    , dblClickZoomEnabled: true
                    , mouseWheelZoomEnabled: true
                    , preventMouseEventsDefault: true
                    , zoomScaleSensitivity: 0.2
                    , minZoom: 0.8
                    , maxZoom: 100
                    , fit: true
                    , contain: false
                    , center: true
                });

                $("#VentrueButton").click(function () {
                    $("path").each(function () {
                        if (this.getAttribute("tags")) {
                            if (this.getAttribute("tags").indexOf("Ventrue") !== -1) {
                                $(this).addClass("Ventrue");
                            }
                        }
                    });
                });
                $("#TestButton").click(function () {
                    let cmp = "";
                    const testtargets = ['12559', '12526', '12527'
                    ];
                    $("path").each(function () {
                        if (this.getAttribute("tags")) {
                            cmp = this.getAttribute("id").substring(4);
                            console.log(cmp);
                            for (i = 0; i < testtargets.length; i++) {
                                if (testtargets[i].toString() === cmp.toString()) {
                                    $(this).addClass("Test");
                                }

                            }
                        }
                    });
                });
                $("#ClearButton").click(function () {

                    $("path").each(function () {
                        if (this.getAttribute("tags")) {
                            if (this.getAttribute("tags").indexOf("Ventrue") !== -1) {
                                $(this).removeClass(this.getAttribute("tags"));
                            }
                        }
                    });
                });
            });

        });


    </script>
{% endblock %}
{% block body %}
    <div id="VentrueButton">Ventrue</div>
    <div id="TestButton">Test</div>
    <div id="ClearButton">Clear</div>
    <object id="map" type="image/svg+xml" data="{{ url_for("plz-berlin.svg") }}"
            style="width: 100%; height: 500px; border:1px solid #00f700;">Your browser does not support SVG
    </object>
    <div id="loadedmap" style="
    left:0;
    right:0;
    width: 100%"></div>




{% endblock %}
