{% macro render_dict(d) %}
    <ul>
        {% for key, value in d.items() %}
            {% if key != 'stage' %}
                {% set clean_key = key.replace('category_', '') %}
                <li>
                    <strong>{{ clean_key }}:</strong>
                    {% if value is mapping %}
                        {{ render_dict(value) }}
                    {% else %}
                        {{ value if value else '-' }}
                    {% endif %}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endmacro %}
<div>
    <p> This is the collected data:</p>
    {{ render_dict(data) }}
    <form>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="button-row">
            <button type="button" class="textbtn"
                    hx-post="/chargen"
                    hx-vals='{"stage": "descriptions"}'
                    hx-target="#question">Back
            </button>
            <button type="button" class="textbtn"
                    hx-post="/chargen"
                    hx-vals='{"stage": "edit"}'
                    hx-target="#question">Edit
            </button>
        </div>
    </form>
</div>
