<div style="width: 100%">
    <p style="text-align: center;">
        Assign points to Skills in your Categories! <br>
        Remember that level 3 skills require <span class="glitch" data-text="unprecedented">extraordinary</span> <span
            class="glitch" data-text="intervention">explanation</span>.
    </p>


    <div class="grid-container-x">
        {% for cat in categories %}
            {% set heading = cat.heading %}
            {% set points = cat.points %}
            {% set fields = cat.fields %}
            {% include "sheets/chargen_htmx/gen_cat_skills.html" %}
        {% endfor %}
    </div>
    <form class="button-row" hx-swap="swap:0.33s">
        <input type="hidden" value="{{ csrf_token() }}" name="csrf_token">
        <button type="button" class="textbtn"
                hx-post="/chargen"
                hx-vals='{"stage": "prio"}'
                hx-target="#question">Back
        </button>
        <button type="button" class="textbtn"
                hx-post="/chargen"
                hx-vals='{"stage": "attributes"}'
                hx-target="#question">Next
        </button>
    </form>
    <div id="explanation" style="text-align: center;">
        Doubleclick the fields for available skills!
    </div>
</div>
