<form hx-post="/chargen" hx-trigger="submit" hx-target="#question" hx-swap="swap:0.3s" style="max-width: 50%">
    <label>Drag the Categories to prioritize them. How many points they will receive is to the right.</label>
    <div class="grid-container3">
        {% for i in range(items|length) %}
            <div class="label">{{ ordinals[i] }}</div>
            <div class="draggable-item textbtn narrowish" draggable="true"
                 data-value="{{ items[i] }}">{{ items[i] }}</div>
            <div class="value">
                <div class="bar" style="--bar-scale: 1;"></div>
                {{ points[i] }}</div>
        {% endfor %}
    </div>
    <!--{{ items|safe }}-->
    <input type="hidden" name="order" id="order-input" value={{ ",".join(items) }}>
    <input type="hidden" name="stage" value="2">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div style="display: flex; width: 100%; gap: 1em">
        <button type="button" class="textbtn"
                hx-post="/chargen"
                hx-vals='{"stage": 0}'
                hx-target="#question"
                style="flex:auto">Back
        </button>
        <button type="submit" id="order-submit-button" class="textbtn" style="flex:auto">Next</button>
        <button id="shuffle-button" type="button" class="textbtn" style="flex:auto">Shuffle</button>
    </div>


</form>
