<div class="grid-wrapper">
    <p style="text-align: center;">
        Assign points to Attributes in your Categories! <br>
        You start with 1 point and then every second skill level gives you another point.
        0 in an attribute means you are disabled in some way and generally fail rolls including this attribute.
    </p>
    <!-- {{ categories|safe }} --->
    <div class="grid-container-x">
        {% for cat in categories %}
            {% set heading = cat.heading %}
            {% set points = cat.points %}
            {% set attributes = cat.attributes %}
            {% include "sheets/chargen_htmx/gen_cat_attributes.html" %}
        {% endfor %}
    </div>
    <form class="button-row">
        <input type="hidden" value="{{ csrf_token() }}" name="csrf_token">
        <button type="button" class="textbtn"
                hx-post="/chargen"
                hx-vals='{"stage": 2}'
                hx-target="#question">Back
        </button>
        <button type="button" class="textbtn"
                hx-post="/chargen"
                hx-vals='{"stage": 5}'
                hx-target="#question">Next
        </button>
    </form>

    <div hx-swap="outerHTML" hx-get="/specific/endworld/descriptions/attributes" hx-trigger="load"> loading rules...
    </div>
</div>
