{% macro num_button(max_buttons, val) %}
    <div class="num-input">
        {%- for i in range(max_buttons) -%}
            <button type="button"
                    {%- if i < val %} class="active"{% endif %}></button>
        {%- endfor -%}
        <input type="hidden" name="value" value="{{ val }}">
    </div>
{% endmacro %}
<form hx-post="/chargen/" autocomplete="off" hx-trigger="change, input delay:1s"
      hx-swap="none" class="skill-form">
    <h2 data-max="{{ points }}" class="showpoints">{{ heading }}</h2>

    <div class="grid-container2" data-heading="{{ heading }}">
        {% set count = [fields|length, 3]|max %}
        {% for i in range(count) %}
            {% set f = fields[i] if i < fields|length else ["",0] -%}
            <label class="input-cell">
                <span class="sr-only">Skill Name {{ i + 1 }}</span>
                <input type="text" name="skill" list="{{ heading }}_skills"
                       value="{{ f[0] }}" class="textinput skill-input" data-heading="{{ heading }}">
            </label>
            {{- num_button(3, f[1]) -}}

        {% endfor %}
    </div>

    <input type="hidden" name="heading" value="{{ heading }}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
</form>
