/.venv/
/venv/
*.pyc
/NN.db*
*.log
/.vscode/
/Data/unordered_data
/Data/weaponstuff_internal
/NossiSite/static/graphdata.json
/.idea/
/.coverage
/*.result
/*.gz
/tests/NN.db
/tests/logs/
*/__pycache__/
*.pem
