bleach==6.1.0
black==24.4.2
Flask==3.0.3
flask_sock==0.7.0
Flask_Testing==0.8.1
flask_wtf==1.2.1
frozendict==2.4.4
github_webhook==1.0.4
Jinja2==3.1.4
Markdown==3.6
MarkupSafe==2.1.5
matplotlib==3.9.0
numpy==2.0.0rc2
Requests==2.32.0
setuptools==69.5.1
simple_websocket==1.0.0
Werkzeug==3.0.3
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
