blinker==1.4
flask-testing==0.8.1
pyopenssl==22.0.0
coverage==6.4.1
pre-commit==2.19.0
dateparser==1.1.1
bleach==5.0.1
dnspython==2.2.1
eventlet==0.33.1
Flask==2.1.2
Flask-SocketIO==5.2.0
github-webhook==1.0.4
greenlet==1.1.2
itsdangerous==2.1.2
Jinja2==3.1.2
Markdown==3.3.7
MarkupSafe==2.1.1
numexpr==2.8.3
numpy==1.23.0
python-engineio==4.3.3
python-socketio==5.7.0
requests==2.28.1
Werkzeug==2.1.2
setuptools==63.1.0
pytz==2022.1
python-dateutil==2.8.2
pydealer==1.4.0
black==22.6.0
git+https://github.com/x4dr/GamePack.git@master#egg=gamepack
