{% extends "base/layout.html" %}
{% block body %}
    <h2>Reset</h2>
    <form action="{{ url_for("views.resetpassword") }}" method=post>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <dl>
            <dt><label>Change your password:<br></label>
            <dt><label for="userid">Confirm Username:</label>
            <dd><input id="userid" class=dark type=text name=username>
            <dt><label for="pw">Confirm Current Password:</label>
            <dd><input id="pw" class=dark type=password name=password>
            <dt><label for="newpw">New Password:</label>
            <dd><input id="newpw" class=dark type=password name=newpassword>
            <dd><input class=dark type=submit value=Change>
                <br>
        </dl>
    </form>
{% endblock %}
