<!doctype html>
<html lang="en">
<title>NossiNet</title>
<link rel=stylesheet type=text/css href="
{%- if session.light -%}
{{ url_for("static", filename='stylelight.css') }}
{%- else -%}
{{ url_for("static", filename='style.css') }}
{%- endif -%}
">
<head>
    <meta charset="UTF-8">
    <title>This site seems to be obfuscated right now</title>
</head>
<body>
    <div>
        This site seems to be obfuscated right now. <br>
        Or maybe you typed it wrong... In any case, <br>
        CDIV sends its regards. <br>
        Best return to where its <a href="/">safe</a>.
    </div>
</body>
</html>
