{% extends "layout.html" %}
{% block head %}
    <!--suppress , JSUnresolvedVariable, JSUnresolvedFunction -->
    <script type="text/javascript" charset="utf-8">
        var socket = null;
        var bell = new Audio("/static/bell.wav");
        var ring = false;
        var ringoverwrite = false;
        window.onload=function() {
            socket = io.connect('https://' + document.domain + ':' + location.port + '/cards');
            socket.on('Message', function(msg) {
                var box = $('#chatbox');
                box.append('<br>' + $('<div/>').text(msg.data).html());
                box.scrollTop(box[0].scrollHeight);
                if (ring){
                    bell.play()
                }
            });
            socket.on('Status', function(msg) {
                document.getElementById('statusmessage').innerHTML = msg.status
            });

            socket.on('SetCmd', function(msg) {
                $('#message_data').val(msg.data)
            });

            socket.on('Exec', function(msg){
                eval(msg.command)

            });

            socket.on('Update', function(msg){
                socket.emit('ClientServerEvent', {data: '///silent'});
            });

            socket.on('connect', function() {
                socket.emit('ClientServerEvent', {data: '///silent'});
                $('#message_data').focus();
            });

            var prevCommand = [];
            var commandCount = 0;
            var keyCount = 0;

            $('form#message').submit(function() {
                var message_data=$('#message_data').val();
                if (message_data==="/ring off"){
                    ringoverwrite = true
                }
                if (message_data==="/ring on"){
                    ringoverwrite = false
                }
                if(document.getElementById('message_data').value !== ''){
                    socket.emit('ClientServerEvent',
                        {data: message_data});
                    commandCount++;
                    keyCount = 0;
                    prevCommand[commandCount] = message_data;
                    document.getElementById('message_data').value = ''}
                return false;
            });

            $(document).keydown(function(event){
                var msgdata = $('#message_data');
                var index;
                if(event.which === 32){
                    if (!msgdata.is(':focus')){
                        msgdata.focus();
                        return false
                    }

                }

                if(event.which === 38){
                    keyCount++;
                    msgdata.focus();
                    if(typeof prevCommand[keyCount] !== "undefined") {
                        index = prevCommand.length-keyCount;
                        msgdata.val(prevCommand[index]);
                    } else {
                        keyCount = 1;
                        index = prevCommand.length-keyCount;
                        msgdata.val(prevCommand[index]);
                    }
                    return false;
                }else if(event.which === 40) {
                    keyCount--;
                    msgdata.focus();
                    if(typeof prevCommand[keyCount] !== "undefined") {
                        index = prevCommand.length-keyCount;
                        msgdata.val(prevCommand[index]);
                        //  moveCursorToEnd(msgdata)
                    } else {
                        if (prevCommand[commandCount] !== msgdata.val() && msgdata.val() !== '' ) {
                            commandCount++;
                            keyCount = 0;
                            prevCommand[commandCount] = msgdata.val();
                        }
                        msgdata.val('')
                    }
                    return false;
                }
            });
        }
    </script>
{% endblock %}
{% block body %}


    <div id="wrapper">
        <div id="inner" style="width: 100%;">
            <div id="chatbox" class="chatbox"></div>
        </div>
        <div id="statusmessage">Waiting for Server connection...</div>
        <form id="message" name="message" method="POST" action="#">
            <div class="formline">
                <input class="leet" name="submitmsg" type="submit"  id="submitmsg"
                       value="Send" style="float: right; width:  10%" />
                <span><input class="leet" type="text" name="message_data" id="message_data"
                             placeholder="Message" autocomplete="off" style="width: 88%"></span>
            </div>
        </form>
    </div>

{% endblock %}
