{% extends "layout.html" %}
{% block body %}
<form>
    <table width="100%">
        <tr>
            <td colspan="6" style="text-align: center; font-size: 1.5em" class="leeet">
                Charactersheet&nbspfor&nbsp{{ session.user }}</td>
        </tr>
        <tr>
            <td style="text-align: right; ">Name:</td>
            <td style="text-align: left; ">{{ character.Meta.Name }}</td>
            <td style="text-align: right; ">Nature:</td>
            <td style="text-align: left; ">{{ character.Meta.Nature }}</td>
            <td style="text-align: right; ">Generation:</td>
            <td style="text-align: left; ">{{ character.Meta.Generation }}</td>
        </tr>
        <br>
        <tr>
            <td style="text-align: right; ">Player:</td>
            <td style="text-align: left; ">{{ character.Meta.Player }}</td>
            <td style="text-align: right; ">Demeanor:</td>
            <td style="text-align: left; ">{{ character.Meta.Demeanor }}</td>
            <td style="text-align: right; ">Haven:</td>
            <td style="text-align: left; ">{{ character.Meta.Haven }}</td>
        <tr>
            <td style="text-align: right; ">Chronicle:</td>
            <td style="text-align: left; ">{{ character.Meta.Chronicle }}</td>
            <td style="text-align: right; ">Clan:</td>
            <td style="text-align: left; ">{{ character.Meta.Clan }}</td>
            <td style="text-align: right; ">Concept:</td>
            <td style="text-align: left; ">{{ character.Meta.Concept }}</td>
        </tr>
    </table>
    <br>
    <table width="100%">
        <tr>
            <td colspan="6" style="text-align: center;" class="leeet">Attributes</td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center; width: 33%;" class="leet">Physical</td>
            <td colspan="2" style="text-align: center; width: 34%;" class="leet">Social</td>
            <td colspan="2" style="text-align: center; width: 33%;" class="leet">Mental</td>
        </tr>
    </table>
    <table width="100%">
        <tr>
            <td style="text-align: right; ">Strength:</td>
            <td style="text-align: Left; ">{{ character.Attributes.strength }}</td>
            <td style="text-align: right; ">Charisma:</td>
            <td style="text-align: Left; ">{{ character.Attributes.charisma }}</td>
            <td style="text-align: right; ">Perception:</td>
            <td style="text-align: Left; ">{{ character.Attributes.perception }}</td>
        </tr>
        <tr>
            <td style="text-align: right; ">Dexterity:</td>
            <td style="text-align: Left; ">{{ character.Attributes.dexterity }}</td>
            <td style="text-align: right; ">Manipulation:</td>
            <td style="text-align: Left; ">{{ character.Attributes.manipulation }}</td>
            <td style="text-align: right; ">Intelligence:</td>
            <td style="text-align: Left; ">{{ character.Attributes.intelligence }}</td>
        </tr>
        <tr>
            <td style="text-align: right; ">Stamina:</td>
            <td style="text-align: Left; ">{{ character.Attributes.stamina }}</td>
            <td style="text-align: right; ">Appearance:</td>
            <td style="text-align: Left; ">{{ character.Attributes.appearance }}</td>
            <td style="text-align: right; ">Wits:</td>
            <td style="text-align: Left; ">{{ character.Attributes.wits }}</td>
        </tr>
    </table>
    <br>
    <table width="100%">
        <tr>
            <td colspan="6" style="text-align: center;" class="leeet">Abilities</td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center; width: 33%;" class="leet">Talents</td>
            <td colspan="2" style="text-align: center; width: 34%;" class="leet">Skills</td>
            <td colspan="2" style="text-align: center; width: 33%;" class="leet">Knowledges</td>
        </tr>
    </table>
    <table width="100%">
        <tr>
            <td style="text-align: right; ">Alertness:</td>
            <td style="text-align: Left; ">{{ character.Abilities.Talents.Alertness }}</td>
            <td style="text-align: right; ">AnimalKen:</td>
            <td style="text-align: Left; ">{{ character.Abilities.Skills.AnimalKen }}</td>
            <td style="text-align: right; ">Academics:</td>
            <td style="text-align: Left; ">{{ character.Abilities.Knowledges.Academics }}</td>

        </tr>
        <tr>
            <td style="text-align: right; ">Athletics:</td>
            <td style="text-align: Left; ">{{ character.Abilities.Talents.Athletics }}</td>
            <td style="text-align: right; ">Crafts:</td>
            <td style="text-align: Left; ">{{ character.Abilities.Skills.Crafts }}</td>
            <td style="text-align: right; ">Computer:</td>
            <td style="text-align: Left; ">{{ character.Abilities.Knowledges.Computer }}</td>

        </tr>
        <tr>
            <td style="text-align: right;overflow: hidden; width: 1px; ">Brawl:</td>
            <td style="text-align: Left; ">{{ character.Abilities.Talents.Brawl }}</td>
            <td style="text-align: right; ">Drive:</td>
            <td style="text-align: Left; ">{{ character.Abilities.Skills.Drive }}</td>
            <td style="text-align: right; ">Finance:</td>
            <td style="text-align: Left; ">{{ character.Abilities.Knowledges.Finance }}</td>

        </tr>
        <tr>
            <td style="text-align: right; ">Dodge:</td>
            <td style="text-align: Left; ">{{ character.Abilities.Talents.Dodge }}</td>
            <td style="text-align: right; ">Etiquette:</td>
            <td style="text-align: Left; ">{{ character.Abilities.Skills.Etiquette }}</td>
            <td style="text-align: right; ">Investigation:</td>
            <td style="text-align: Left; ">{{ character.Abilities.Knowledges.Investigation }}</td>

        </tr>
        <tr>
            <td style="text-align: right;">Empathy:</td>
            <td style="text-align: Left; ">{{ character.Abilities.Talents.Empathy }}</td>
            <td style="text-align: right; ">Firearms:</td>
            <td style="text-align: Left; ">{{ character.Abilities.Skills.Firearms }}</td>
            <td style="text-align: right; ">Law:</td>
            <td style="text-align: Left; ">{{ character.Abilities.Knowledges.Law }}</td>

        </tr>
        <tr>
            <td style="text-align: right; ">Expression:</td>
            <td style="text-align: Left; ">{{ character.Abilities.Talents.Expression }}</td>
            <td style="text-align: right; ">Melee:</td>
            <td style="text-align: Left; ">{{ character.Abilities.Skills.Melee }}</td>
            <td style="text-align: right; ">Linguistics:</td>
            <td style="text-align: Left; ">{{ character.Abilities.Knowledges.Linguistics }}</td>

        </tr>
        <tr>
            <td style="text-align: right; ">Intimidation:</td>
            <td style="text-align: Left; ">{{ character.Abilities.Talents.Intimidation }}</td>
            <td style="text-align: right; ">Performance:</td>
            <td style="text-align: Left; ">{{ character.Abilities.Skills.Performance }}</td>
            <td style="text-align: right; ">Medicine:</td>
            <td style="text-align: Left; ">{{ character.Abilities.Knowledges.Medicine }}</td>

        </tr>
        <tr>
            <td style="text-align: right; ">Leadership:</td>
            <td style="text-align: Left; ">{{ character.Abilities.Talents.Leadership }}</td>
            <td style="text-align: right; ">Security:</td>
            <td style="text-align: Left; ">{{ character.Abilities.Skills.Security }}</td>
            <td style="text-align: right; ">Occult:</td>
            <td style="text-align: Left; ">{{ character.Abilities.Knowledges.Occult }}</td>

        </tr>
        <tr>
            <td style="text-align: right; ">Streetwise:</td>
            <td style="text-align: Left; ">{{ character.Abilities.Talents.Streetwise }}</td>
            <td style="text-align: right; ">Stealth:</td>
            <td style="text-align: Left; ">{{ character.Abilities.Skills.Stealth }}</td>
            <td style="text-align: right; ">Politics:</td>
            <td style="text-align: Left; ">{{ character.Abilities.Knowledges.Politics }}</td>

        </tr>
        <tr>
            <td style="text-align: right; ">Subterfuge:</td>
            <td style="text-align: Left; ">{{ character.Abilities.Talents.Subterfuge }}</td>
            <td style="text-align: right; ">Survival:</td>
            <td style="text-align: Left; ">{{ character.Abilities.Skills.Survival }}</td>
            <td style="text-align: right; ">Science:</td>
            <td style="text-align: Left; ">{{ character.Abilities.Knowledges.Science }}</td>

        </tr>
    </table>
    <table width="100%">
        <tr>
            <td colspan="6" style="text-align: center;" class="leeet">Advantages</td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center; width: 33%;" class="leet">Backgrounds</td>
            <td colspan="2" style="text-align: center; width: 34%;" class="leet">Disciplines</td>
            <td colspan="2" style="text-align: center; width: 33%;" class="leet">Virtues</td>
        </tr>

        {% for bgvdscp in character.BGVDSCP_combined %}
            <tr>
                {{ bgvdscp.Background }}
                {{ bgvdscp.Discipline }}
                {{ bgvdscp.Virtue }}
            </tr>
        {% endfor %}

    </table>
    <!--tr>

        <td colspan="2" style="text-align: center; width: 33%;" class="section_header td_grey">Merits/Flaws</td>
        <td colspan="2" style="text-align: center; width: 34%;" class="section_header td_grey">Humanity/Path</td>
        <td colspan="2" style="text-align: center; width: 33%;" class="section_header td_grey">Health</td>
    </tr>
    <tr>
        <!--Merits1}
        <!--Humanitystring}
        <!--Bruised}
    </tr>
    <tr>
        <!--Merits2}
        <!--Humanity}
        <!--Hurt}
    </tr>
    <tr>
        <!--Merits3}
        <td colspan="2"></td>
        <!--Injured}
    </tr>
    <tr>
        <!--Merits4}
        <td colspan="2" style="text-align: center; width: 34%;" class="section_header td_grey">Willpower</td>
        <!--Wounded}
    </tr>
    <tr>
        <!--Merits5}
        <!--Willpowerdots}
        <!--Mauled}
    </tr>
    <tr>
        <!--Merits6}
        <!--Willpowercheck}
        <!--Crippled}
    </tr>
    <tr>
        <!--Merits7}
        <td colspan="2"></td>
        <!--Incapacitated}
    </tr>
    <tr>
        <!--Merits8}
        <td colspan="2" style="text-align: center; width: 34%;" class="section_header td_grey">Blood Pool</td>
        <td colspan="2" style="text-align: center; width: 34%;" class="section_header td_grey">Experience</td>
    </tr>
    <tr>
        <!--Merits9}
        <!--Bloodpool1}
        <!--Experience}
    </tr>
    <tr>
        <!--Merits10}
        <!--Bloodpool2}
        <td colspan="2"></td>
    </tr>
</table>-->
            <dd><input type="button" style="float: right" class="leet" value="edit">
</form>



{% endblock %}