{% extends "layout.html" %}
{% block head %}
    <!--suppress , JSUnresolvedVariable, JSUnresolvedFunction -->
    <script type="text/javascript" charset="utf-8">
            window.onload=function() {
                var script = document.createElement('script');
                script.src = '/static/chat.js';
                script.type = 'text/javascript';
                var head = document.getElementsByTagName("head")[0];
                head.appendChild(script);
            }
    </script>
{% endblock %}
{% block body %}


    <div id="wrapper">

    <div id="chatbox"></div>
    <div id="statusmessage">Waiting for Server connection...</div>
    <form id="message" name="message" method="POST" action="#">
        <div class="formline">
            <input class="leet" name="submitmsg" type="submit"  id="submitmsg"
                   value="Send" style="float: right; width:  10%" />
            <span><input class="leet" type="text" name="message_data" id="message_data"
                   placeholder="Message" autocomplete="off" style="width: 88%"></span>
        </div>
    </form>
    </div>

{% endblock %}
