{% extends "layout.html" %}
{% block head %}
    <meta name="htmx-config" content='{"useTemplateFragments":"true"}'>
    <script>
        document.addEventListener("htmx:wsAfterMessage", function (event) {
            const chatbox = document.getElementById("chatbox");
            chatbox.scrollTop = chatbox.scrollHeight;

            document.querySelectorAll(".timestamp").forEach(function (element) {
                const date =  new Date(element.innerText);
                element.outerHTML = date.getHours().toString().padStart(2,"0")+":"+date.getMinutes().toString().padStart(2,"0")+":"+date.getSeconds().toString().padStart(2,"0");
            });
        });
         document.addEventListener("htmx:wsAfterSend", function (event) {
            document.getElementById("message_data").value = "";
        });

    </script>
{% endblock %}
{% block body %}
    <div id="wrapper"hx-ext="ws" ws-connect="/chatupdates">
        <div id="inner" style="width: 100%;"  >
            <div id="chatbox" class="chatbox"></div>
        </div>
        <div id="statusmessage"  >Waiting for Server connection...</div>
        <form id="messageform" ws-send>
            <div class="formline" style="display: flex; align-items: center">
                <label for="message_data"></label>
                <input class="dark" type="text" name="message_data" id="message_data"
                       placeholder="Message" autocomplete="off" style="flex-grow: 1">
                <input class="dark" name="submitmsg" type="submit" id="submitmsg"
                       value="Send" />
            </div>
        </form>
    </div>

{% endblock %}
