{% extends "layout.html" %}
{% block head %}
    {% for headstate in heads %}
        {{ headstate|safe }}
    {% else %}
    {% endfor %}
{% endblock %}
{% if wiki is defined %}
    {% block title %}
        <title> {{ wiki }} </title>
    {% endblock %}
    {% block pagetitle %}
        {% if entry.title | length > 0 %}
            <h1><a href={{ url_for("wiki.wiki_index") }}>{{ entry.title | capitalize }}</a></h1>
        {% else %}
            <h1><a href={{ url_for("wiki.wiki_index") }}>{{ wiki | capitalize }}</a></h1>
        {% endif %}
    {% endblock %}
{% endif %}
{% block body %}
    {% if session.logged_in %}
        {% if mode=="blog" %}
            <form action="{{ url_for("views.editentries", x=entry.id) }}" method=post class=edit-entry>
        {% elif mode=="wiki" %}
            <form action="{{ url_for("wiki.editwiki", page=wiki) }}" method=post class=edit-entry>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <input type="hidden" name="wiki" value="{{ wiki }}">
        {% endif %}
    <input type="hidden" name="id" value="{{ entry.id }}">
    <dl>
        <dt><label for="title">Title:</label></dt>
        <dd><input class=dark size=50 id="title" name=title value="{{ entry.title }}"></dd>
        <dt><label for="text">Text:</label></dt>
        <dd><textarea class=textinput id=text name=text rows={% if mode =="blog" %}5{% elif mode =="wiki" %}40{% endif %}
                      style="width: 80%">{{ entry.text }}</textarea></dd>
        <dt><label for="tags">Tags:</label></dt>
        <dd><input class=dark size=50 id="tags" name=tags value="{{ entry.tags }}"></dd>
        <dd><input class=medium type=submit value=Share></dd>
    </dl>
    </form>
        {% if mode!="wiki" %}
            <form action="{{ url_for("views.delete_entry",ident=entry.id) }}" method="post" class="edit-entry">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <input class=medium type=submit value="{% if entry.author[0].islower() %}un{% endif %}delete">
            </form>
        {% endif %}
    {% endif %}

{% endblock %}
