{%- extends "layout.html" -%}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="sheet.css") }}">
{% endblock %}
{%- macro dots(val,max=5) -%}
    {%- if val is not defined -%}
        {%- set val = 0 -%}
    {%- endif -%}
    {%- for i in range(val) -%}
        {%- if loop.index0%5 == 0 and loop.index0 > 0 %} {% endif -%}
        ●
    {%- endfor -%}
    {%- for i in range(max-val) -%}
        ○
    {%- endfor -%}
{%- endmacro -%}
{% macro tablematrix(table) %}
    <table>
        {% for line in table -%}
            {% if loop.first %}
                <thead class="heading">
            {% endif %}
        <tr class="tablebody">
            {% set outer_loop = loop %}
            {% for subline in line -%}
                <td >{{ subline | infolet | safe }}</td>
            {% endfor -%}
        </tr>
        {% if loop.first %}
            </thead>
            <tbody >
            {% elif loop.last %}
            </tbody>
        {% endif %}
        {%- endfor %}
    </table>
{% endmacro %}
{% macro sectionformat(cat,name) %}
    {%- for k,v in cat.items() -%}
        {%- if v is mapping -%}
            <div class="subheading span-2">
                {{ k }}
            </div>
            {%- for vk,vv in v.items() -%}
                <div>{{ vk | remove_leading_underscore | infolet | safe }} </div>
                <div id="{{ name|urlencode }}.{{ vk[:10]|urlencode }}" class="tooltip" style="text-align: right">{%- if vv|remove_leading_underscore|int(-1) != -1
                            and (userconf["fensheet_dot_max"] |int) >= vv|remove_leading_underscore|int -%}{{
                        dots(vv|remove_leading_underscore|int, userconf["fensheet_dot_max"]|int(5))
                        if userconf["fensheet_dots"]|int(0) else vv }}
                {%- else -%}{{ vv }}{%- endif -%}{% if
                            k.lower() in character.doublepoint_sections+character.fullpoint_sections
                        %} <span class="tooltiptext">&nbsp;+&nbsp;{{ character.get_xp_for(vk) }}&nbsp;FP</span>{%- endif -%}
                </div>
            {%- endfor -%}
        {% else %}
            Debug: {{ v }} has no items
        {%- endif -%}
    {%- endfor %}
{% endmacro %}
{%- macro catformat(cat, name, cost) -%}
    <div class="gridwrapper category">
        <div class="tooltip heading span-2">{{ name }} {% if name!='Magie' %}<a href="{{url_for('fen_calc',
            inputstring=cost) }} ">{{ cost }}</a><span class="tooltiptext"><br/>&nbsp;Options:<br/>{% for l in
                    character.cost_calc(cost)
                %}&nbsp;&nbsp;{% for b in l %}{{ b }}{% if not loop.last %}, {% endif %}{% endfor %}&nbsp;&nbsp;<br/> {% endfor %}<br/> {% else %}<a href="{{
                url_for('fen_calc', inputstring=cost, costs='30,80,140,210,300',penalty='0,0,0,0,0',width=character.magicwidth(name))|urldecode
                }}">{{ cost }}</a><span class="tooltiptext">{% for l in
                    character.cost_calc(cost,'30, 80, 140, 210, 300','', width=character.magicwidth(name))
                %}{{ l }}<br/> {% endfor %}{% endif %}</span></div>

        {%- if cat is mapping  -%}
            {{ sectionformat(cat,name) }}
        {% else %}
            Error: {{ cat }} is no dict
        {% endif %}
    </div>
{%- endmacro -%}
{% macro treepart(tree, depth) %}
    {{ tree[0] | infolet |safe}}
    {% for table in tree[2] %}
        {{ tablematrix(table) }}
    {% endfor %}
    {% for child, content in tree[1].items() %}
        <h{{ depth }} class="hideable">o{{ child }}</h{{ depth }}>
        <div>
            {{ treepart(content, depth + 1) }}
        </div>
    {% endfor %}
{% endmacro %}
{%- block title -%}
    {%- if character.Name -%}
        <title>{{ character.Name }}</title>
    {%- else -%}
        <title>Charactersheet</title>
    {%- endif -%}
{%- endblock -%}

{%- block body -%}
    {% if owner %}<a href="{{ url_for("editwiki", x=owner) }}"><input type="button" class="leeet" value="Edit"></a><br/>
    {% endif %}
    <div class="flexwrapper">
        {%- for key,val in character.Character.items() -%}
            <div class="category box">
                <div class="heading box">{{ key }}</div>
                <div class="desc-text">
                    {%- if val is string -%}
                        {{ val |infolet|safe }}
                    {%- else -%}
                        {{ val|join("\n")|infolet|safe }}
                    {%- endif -%}
                </div>
            </div>
        {%- endfor -%}
    </div>
    <div class="flexwrapper categories">
        {%- for category,data in character.Categories.items() -%}
            {{- catformat(data,category, character.points(category))-}}
        {% endfor -%}
    </div>
    {%- for key,data in character.Meta.items() -%}
        <h2 class="hideable">o{{ key }}</h2>
        <div>
            {{ treepart(data,3) }}
        </div>
    {%- endfor -%}
    <div><button id="TopButton" title="Upwards">Top</button></div>
    {% if owner %}<a href="{{ url_for("editwiki", x=owner) }}"><input type="button" class="leeet"  value="Edit"></a><br/>
    {% endif %}
{%- endblock -%}
