
{%- extends "layout.html" -%}
{%- macro dots(val,max=5) -%}
    {%- if val is not defined -%}
        {%- set val = 0 -%}
    {%- endif -%}
    {%- for i in range(val) -%}
        {%- if loop.index0%5 == 0 and loop.index0 > 0 %} {% endif -%}
        ●
    {%- endfor -%}
    {%- for i in range(max-val) -%}
        ○
    {%- endfor -%}
{%- endmacro -%}
{%- macro catformat(cat, name) -%}
    <table style = "width: 100%">
        <tr>
            <td colspan="2" style="text-align: center;" class="leeet">{{ name }}</td>
        </tr>
        {%- if cat is mapping  -%}
            {%- for k,v in cat.items() -%}
                {%- if v is mapping -%}
                    <tr>
                        <td colspan="2" style="text-align: center;" class="leet">{{ k }}</td>
                    </tr>
                    {%- for vk,vv in v.items() -%}
                        <tr>
                            <td style="text-align: left; word-wrap: break-word">{{ vk|remove_leading_underscore }} </td>
                            <td>{%- if vv|int(-1) != -1 -%}{{ dots(vv|int, userconf["fensheet_dot_max"]|int(5))
                                    if userconf["fensheet_dots"]|int(0) else vv }}
                            {%- else -%}{{ vv }}{%- endif -%}</td>
                        </tr>
                    {%- endfor -%}
                {% else %}
                    Debug: {{ v }} has no items
                {%- endif -%}
            {%- endfor %}
        {% else %}
            {{ cat }} is no dic
        {% endif %}
    </table>
{%- endmacro -%}
{%- block title -%}
    {%- if character.Name -%}
        <title>{{ character.Name }}</title>
    {%- else -%}
        <title>Charactersheet</title>
    {%- endif -%}
{%- endblock -%}

{%- block body -%}
    <table style ="width:100%; " class="leet dividedtable">
        <tr>
            <td colspan="6" style="text-align: center; font-size: 1.5em" class="leeet">
                {%- if character.Name -%}
                    Charactersheet&nbspfor&nbsp{{ character.Name }}
                {%- else -%}
                    Charactersheet&nbspfor&nbspUnnamed&nbspCharacter
                {%- endif -%}</td>
        </tr> <tr>
        {%- for key,val in character.Character.items() -%}
            <td class="dividedtable" style="text-align: center; width: 15%; border-bottom-color: #0d9318; border-left-color: #0d9318;  ">{{ key }}</td>
            <td class="dividedtable" style="text-align: center; width: 15%; border-bottom-color: #0d9318; border-right-color: #0d9318;  white-space: pre-wrap">
                {%- if val is string -%}
                    {{ val }}
                {%- else -%}
                    {{ val|join("\n") }}
                {%- endif -%}
            </td>
            {%- if loop.index%3==0 and not loop.last -%}
                </tr><tr>
            {%- endif -%}
        {%- if loop.last -%}
            </tr>
        {%- endif -%}
        {%- endfor -%}
    </table>
    <div style="text-align: center ">
        {%- for category,data in character.Categories.items() -%}
            <div style="display: inline-block; width: 30%; vertical-align: top;">
                {{- catformat(data,category)-}}
            </div>
        {% endfor -%}
    </div>
    {%- for key,data in character.Meta.items() -%}
        <h2 class="hideable">*{{ key }}</h2>
        <div>
            {%- for section,sectiondata in data.items() -%}
                {%- if section|trim|length -%}
                    <h3 class="hideable">*{{ section|markdown}}</h3>
                {%- endif -%}
                <div>
                    {%- for line in sectiondata|markdown -%}
                        {{ line }}
                    {%- endfor %}
                </div>
            {%- endfor -%}
        </div>
    {%- endfor -%}
    <div><button id="TopButton" title="Upwards">Top</button></div>

{%- endblock -%}
