{% extends "layout.html" %}
{% block body %}
    <h2>Character Generator Setup</h2>
    <p>
        Welcome to the NossiNet Setup Service, lets set you up with your own personal stranger ;)<br/>
        IF YOU WANT MORE FEATURES JUST REQUEST THEM AND I WILL TELL YOU IF THEY CAN BE DONE
    </p>
    <h6>Just allocate how many points are to be spent and click le bouton.</h6>
    <form action="{{ url_for("extra.chargen_menu") }}" method=post>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <dl>
            <dt><label for=a>Physical Attributes:</label>
            <dd><input class=leet type="number" name=a id=a value="3">

            <dt><label for=b>Social Attributes:</label>
            <dd><input class=leet type="number" name=b id=b value="5">

            <dt><label for=c>Mental Attributes:</label>
            <dd><input class=leet type="number" name=c id=c value="7">

            <dt><label for=abia>Talent Abilities:</label>
            <dd><input class=leet type="number" name=abia id=abia value="5">

            <dt><label for=abib>Skill Abilities:</label>
            <dd><input class=leet type="number" name=abib id=abib value="9">

            <dt><label for=abic>Knowledge Abilities:</label>
            <dd><input class=leet type="number" name=abic id=abic value="13">

            <dt><label for="shuffle">Shuffle the Ability and Skills:</label>
            <dd><input class=leet type="checkbox" name="shuffle" id="shuffle" checked="checked">

            <dt><label for="vampire">Character is Vampire:</label>
            <dd><input class=leet type="checkbox" name="vampire" id="vampire" checked="checked">

            <dt><label for="discipline">Discipline points(only relevant if vampire)</label>
            <dd><input class=leet type="number" name="discipline" id="discipline" value="3">

            <dt><label for="back">Background points(only relevant if vampire)</label>
            <dd><input class=leet type="number" name="back" id="back" value="5">

                <br/><input class=leet type=submit value="Le Bouton">
        </dl>
    </form>
{% endblock %}
