<!doctype html>
<html lang="mul">
<meta name="viewport" content="width=device-width">
<meta name="description" content="NosferatuNetwork by Maric
     Pen and Paper helper to support Roleplaying">
<head>
    {% block title -%}
        <title> {%- if session.light -%}
            NossiNet Berlin by Day
        {%- else -%}
            Nossinet Berlin by Night
        {%- endif -%}</title>
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename='style.css') }}">
    {%- if session.light or light is defined -%}
        <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename='stylelight.css') }}">
    {%- endif %}
    <script type="text/javascript" charset="utf-8">
        window.addEventListener("load", () => {
            const hiders = document.getElementsByClassName('hider');
            for (let i = 0; i < hiders.length; i++) {
                let hider = hiders[i]
                let target = document.getElementById(hider.dataset.for)
                hider.addEventListener("click", async () => {
                    let cache = target.style.height;
                    target.style.height = target.scrollHeight + "px";
                    await new Promise(r => setTimeout(r, 100));
                    target.classList.toggle("hiding")
                    target.classList.toggle("nothiding")
                    hider.classList.toggle("hider-expanded")
                    await new Promise(r => setTimeout(r, 100));
                    target.style.height = cache;
                });
            }

            let topButton = document.getElementById("TopButton");
            if (topButton != null) {
                window.onscroll = function () {
                    scrollFunction()
                };

                function topFunction() {
                    document.body.scrollTop = 0;
                    document.documentElement.scrollTop = 0;
                }

                topButton.onclick = topFunction;


                function scrollFunction() {
                    if (document.body.scrollTop > 200 || document.documentElement.scrollTop > 200) {
                        topButton.style.display = "block";
                    } else {
                        topButton.style.display = "none";
                    }
                }
            }
        });
    </script>
    {% block head %}{% endblock %}
</head>
<body>
<div id="page_complete" class=page>
    {% block pagetitle %}
        <h1><a href={{ url_for("views.show_entries") }}>NOSFERATU NETWORK</a></h1>
    {% endblock %}
    {% block metanavcomplete %}
        <div class=metanavcontainer>
            {% if not session.logged_in %}
                <a class=metanav href="{{ url_for("wiki.wiki_index") }}">wiki</a>
                <a class=metanav href="{{ url_for("views.login") }}">log in</a>
                <a class=metanav href="{{ url_for("views.register_user") }}">register</a>
            {% else %}
                {%- block metanav -%}
                {%- endblock -%}
                <div class="metanavcontainer">
                    <a class=metanav href="{{ url_for("wiki.wiki_index") }}">WIKI</a>
                    <a class=metanav href="{{ url_for("views.charsheet") }}">SHEET</a>
                    <a class=metanav href="{{ url_for("views.chatsite") }}">CHAT</a>
                    <a class=metanav
                       href="{{ url_for("views.show_user_profile",username=session.user) }}">{{ session.user }}</a>
                    <a class=metanav href="{{ url_for("views.logout") }}">LOG&nbsp;OUT</a>
                </div>
            {%- endif %}
        </div>
    {%- endblock -%}
    {%- if error %}
        <p class=error><strong>Error:</strong> {{ error }}{% endif %}
    {%- for message in get_flashed_messages() %}
        <div class=flash style="white-space: pre-wrap;" onclick="this.parentNode.removeChild(this)">{{ message }}</div>
    {%- endfor %}
    {%- block body %}{% endblock -%}
</div>
<div class="metanavcontainer">
    {% if not session.logged_in %}
        <div class="metanav"><a href="{{ url_for("views.impressum") }}">Impressum</a></div>
    {% endif %}
    <div class="metanav"><a href="{{ url_for("views.lightswitch", x=request.path[1:]) }}">Light Switch</a></div>
</div>
<br>
</body>
</html>
