{% extends "layout.html" %}
{% block body %}

    <h2>Vouching</h2>

    {% for entry in entries %}
        <li><h2>Vouching offer by <a
                href="{{ url_for('show_user_profile', username=entry.loaner) }}">{{ entry.loaner }}</a></h2>
            {% if session.logged_in %}
                {% if entry.state == "accepted" %}
                    Remaining on Loan: {{ entry.remaining }}
                {% else %}
                    <form action="{{ url_for('kudosloan') }}" , method="post" , class="add-entry">
                        <input type="hidden" value={{ token }} name="token">
                        <input type="hidden" value={{ entry.id }} name="id">
                        <input class=leeet type=submit value="Accept">
                        <br> This will cost {{ entry.loaner }} 20% ({{ entry.currentkudos // 5 }}) of their current
                        Kudos ({{ entry.currentkudos }}) and will grant you half of that. You
                        will affect the Kudos of your oldest non fully paid back voucher by 10% of whatever affects your
                        Kudos until you have paid back quadruple of what you gained by accepting
                        ({{ (entry.currentkudos//5)*2 }}).
                    </form>
                {% endif %}
            {% endif %}
            {% else %}
        <li><em>No Offers</em>
    {% endfor %}


{% endblock %}