{% extends "layout.html" %}
{% block head %}
    <link rel="stylesheet" type=text/css  href="/static/map.css">
    <script>
        function plzIn() {
            this.style.fill="#ff0000";
        }
        function plzOut() {
            this.style.fill="#400000"
        }

    window.onload= function() {
        $(function() {
            $("#loadedmap").load("/static/berlinPLZ.svg?q=2371211", function () {
                document.getElementById("page_complete").style.minWidth="60em";

                var map = document.getElementById("svg");
                var plzs=$(".plz");
                plzs.hover(plzIn, plzOut);

                plzs.each(function () {

                    var desc = document.createElementNS("http://www.w3.org/2000/svg","title");
                    var node = document.createTextNode('"DESCRIPTION: '+this.id.slice(4)+'"');
                    desc.appendChild(node);
                    this.appendChild(desc);
                    var text = document.createElementNS("http://www.w3.org/2000/svg","text");
                    var plz = document.createTextNode(this.id.slice(4));
                    text.appendChild(plz);
                    text.setAttribute("x", this.getBBox().x+this.getBBox().width/2 -15);
                    text.setAttribute("y", this.getBBox().y+this.getBBox().height/2);
                    text.setAttribute("style", "fill:#040444");
                    text.setAttribute("Class", "svgtext");
                    map.appendChild(text);
                });
            });
        });
    };



    </script>
{% endblock %}
{% block body %}
    <div id="loadedmap" style="
    left:0;
    right:0;
    width: 100%"></div>
    <div id="map"></div>




{% endblock %}