{% extends "layout.html" %}
{% block head %}
    <link rel="stylesheet" type=text/css  href="/static/map.css?q=12832">
    <script>
        function plzIn() {
            this.style.fill="#ff0000";
        }
        function plzOut() {
            this.style.fill="#400000"
        }

    window.onload= function() {
        $(function() {
            $("#loadedmap").load("/static/berlinPLZ.svg?q=29992", function () {
                var map = document.getElementById("svg");
                var plzs=$(".plz");
                plzs.hover(plzIn, plzOut);

                plzs.each(function () {

                    var desc = document.createElementNS("http://www.w3.org/2000/svg","title");
                    var node = document.createTextNode('"DESCRIPTION: '+this.id+'"');
                    desc.appendChild(node);

                    this.appendChild(desc);
                });
            });
        });
    };



    </script>
{% endblock %}
{% block body %}
    <div id="loadedmap" style="overflow: hidden; width: 100%"></div>
    <div id="map"></div>




{% endblock %}