{% extends "layout.html" %}
{% block body %}
    <h2>Credit Payout</h2>

    Welcome to NosfertuDeadDropServices! The deal is simple. You tell us how much money you would like to deduct.
    You also tell us where you would like that money to be deposited. We check_and_restart if both things are suitable,
    then we deduct and deposit the money and inform you. Check with a trusted NDDS Member
    (<a href="{{ url_for("views.show_user_profile',username='Maric") }}">MARIC</a>, for example) and NDDS will drop your
    money.

    <form action="{{ url_for("views.payout") }}" method=post>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <dl>
            <dt>Amount:
            <dd><input class=dark type=number name="amount">
            <dd><input class=dark type=submit value=Send>
        </dl>
    </form>
{% endblock %}
