<!doctype html>
<html lang="en">
    <script src="https://unpkg.com/htmx.org@1.9.3" integrity="sha384-lVb3Rd/Ca0AxaoZg5sACe8FJKF0tnUgR2Kd7ehUOG5GCcROv5uBIZsOqovBAcWua" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="wiki.css") }}?v={{ restart_id }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="pbta.css") }}?v={{ restart_id }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pirata+One&display=swap" rel="stylesheet">

{%- block title -%}
    {%- if character.Name -%}
        <title>{{ character.Name }}</title>
    {%- else -%}
        <title>Charactersheet</title>
    {%- endif -%}
<script>
document.body.addEventListener('htmx:afterSwap', (event) => {
  event.target.querySelectorAll('.cooldown').forEach(el => {
  el.style.pointerEvents = 'none';
    el.addEventListener('animationend', () => {
      el.style.pointerEvents = 'auto';
    });
  });
});
</script>
{%- endblock -%}
{%- endblock -%}
{% macro render_md_table(table) %}
    <table border="1">
        <thead>
            <tr>
                {% for header in table.headers %}
                    <th>{{ header }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in table.rows %}
                <tr>
                    {% for cell in row %}
                        <td>{{ cell }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endmacro %}
{% macro chara_data(data) %}
    {% for k,v in data.items() %}
    <div class="metadata-item">
        <span class="value">{{v}}</span>
        <span class="label">{{k}}</span>
    </div>
    {%- endfor -%}
{% endmacro %}

{%- block body -%}
<body>
<div class="container">
    <!-- Left Column -->
    <div class="column column-left">
        <div class="section">
            <h2 class="pirata-one-regular">Place in the Holder</h2>
            {{chara_data(character.info)}}
        </div>
    <div class="stress section">
        <div>
            <div id="parent-stress-{{c}}" hx-ws="connect:/active_element?name=stress&page={{c}}&sheet=true" >
                <div id="stress-{{c}}">Loading stress meter...</div>
            </div>
            <label class="under label">Stress</label>
        </div>

        <div class="trauma">
           <div id="parent-trauma-{{c}}" hx-ws="connect:/active_element?name=trauma&page={{c}}&sheet=true" >
                <div id="trauma-{{c}}">Loading trauma meter...</div>
            </div>
            <label class="under label">Trauma</label>
        </div>
    </div>

<div class="harm section">
    <table class="harmtable">
        <tbody>
            <tr>
                <td>3</td>
                <td colspan="2">Harm</td>
                <td>Need Help</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Harm</td>
                <td>Harm</td>
                <td>-1d</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Harm</td>
                <td>Harm</td>
                <td>Reduced Effect</td>
            </tr>
        </tbody>
    </table>
    <div>
    <div class="healing-clock-section">
            <div id="parent-healing-{{c}}" hx-ws="connect:/active_element?name=healing&page={{c}}&sheet=true" >
                <div id="healing-{{c}}">Loading healing clock...</div>
            </div>
        <label class="label">Healing Clock</label>
    </div>
    <div>
    <div id = "armor" class="gauge">
                <div class="gauge-box filled"></div>
                <div class="gauge-box filled"></div>
                <div class="gauge-box empty"></div>
    </div>
        <label class="label">Armor</label>
        </div>
    </div>
    </div>
        <div class="section">
            <h2>Notes</h2>
            <textarea class="input-field cooldown"
                      name="notes"
                      rows="4"
                      autocomplete="off"
                      hx-post="/pbta-update-notes?c={{c}}"
                      hx-trigger="blur, keyup delay:30s"
                      hx-include="#csrf">{{character.notes | safe}}</textarea>
            <input type="hidden" id="csrf" name="csrf_token" value="{{ csrf_token() }}"/>
        </div>
    </div>
    <div class="column column-middle">
        <div class="section">
        {% for heading in character.meta %}
            <h2 class="pirata-one-regular">{{ heading }}</h2>
            {% if character.meta[heading].tables %}
                {% for table in character.meta[heading].tables %}
                    {{ render_md_table(table) }}
                {% endfor %}
            {% endif %}
        {% endfor %}
        </div>
    </div>
    <div class="column column-right">
        <div class="section" >
            <h2 class="pirata-one-regular">Attributes</h2>
            <table class="table">
                <thead>
                    <tr><th>Attribute</th><th>Rating</th></tr>
                </thead>
                <tbody>
                    <tr><td>Insight</td><td>999</td></tr>
                    <tr><td>Prowess</td><td>999</td></tr>
                    <tr><td>Resolve</td><td>999</td></tr>
                </tbody>
            </table>
        </div>
        <div class="section">
            <h2 class="pirata-one-regular">Bonus Die</h2>
            <div><br></div>
            <div>Devils Bargain: +1 Dice <br>2 Stress: +1 Dice </div>
        </div>
        <div class="section">
            <h2 class="pirata-one-regular">Load/Gather</h2>
            stuff
        </div>
    </div>
</div>

</body>

{%- endblock -%}
</html>
