{% extends "layout.html" %}
{% block body %}
    <h2>Login</h2>
    <form action="{{ url_for('register') }}" method=post>
        <dl>
            <dt>register a new account<br></dt>
            <dt>Username:
            <dd><input class=leet type=text name=username>
            <dt>Password:
            <dd><input class=leet type=password name=password>
            <dt>Password Check:
            <dd><input class=leet type=password name=passwordcheck>
            <dd><input class=leet type=submit value=Register>
            <br>By registering you assure that you have the personal invitation of the author of this site to do so, you
            have not and will not use this service in a non personal way, and that there has not been and there will not be
            any real money involved in your use of this website.
        </dl>
    </form>
{% endblock %}