{% extends "layout.html" %}
{% block body %}
    <h2>Reset</h2>
    <form action="{{ url_for('resetpassword') }}" method=post>
        <dl>
            <dt>Change your password:<br></dt>
            <input type="hidden" name="token" value="{{ token }}">
            <dt>Confirm Username:
            <dd><input class=leet type=text name=username>
            <dt>Confirm Current Password:
            <dd><input class=leet type=password name=password>
            <dt>New Password:
            <dd><input class=leet type=password name=newpassword>
            <dd><input class=leet type=submit value=Change>
            <br>
        </dl>
    </form>
{% endblock %}
