{% extends "layout.html" %}
{% block head %}
    {% for headstate in heads %}
        {{ headstate|safe }}
    {% endfor %}
{% endblock %}
{%- block metanav -%}
    <form action="{{ url_for('update_filter') }}" method=post class="add-entry metanav" style="display:inline">
        <input type="hidden" name="token" value="{{ token }}">
        <label>
            <input class=leet type=text size=30 name=tags value="default">
        </label><input class=leeet type=submit value=search>
    </form>&nbsp
{%- endblock -%}
{% block body %}
    {% if session.logged_in and edit is defined%}
        <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
            <input type="hidden" name="token" value="{{ token }}">
            <input type="hidden" name="id" value="new">
            <dl>
                <dt>Title:</dt>
                <dd><label>
                    <input class=leet type=text size=30 name=title>
                </label></dd>
                <dt>Text:</dt>
                <dd><label>
                    <textarea class=leet name=text rows=5 cols=40></textarea>
                </label></dd>
                <dt>Tags:</dt>
                <dd><label>
                    <input class=leet type=text size=30 name=tags value="default">
                </label></dd>
                <dd><input class=leeet type=submit value=Share>
            </dl>
        </form>
    {% endif %}
    <ul class=entries>
        {% for entry in entries %}
            {% set s = srs() %}
            <li><h2 class="header hider" data-for{{ s }}>"{{ entry.title }}" by <a
                    href="{{ url_for('show_user_profile', username=entry.author) }}">{{ entry.author }}</a>
            </h2><div id="{{ s }}" class="hiding entry tooltip" style="word-wrap:break-word;display:none;border:1px solid">{{ entry.text|safe }}
                <br> {#dangerous entry.text has to be cleaned before being sent here#}
                {%- if session.logged_in -%}
                    {% if edit is defined %}
                        <form class="add-entry">
                            <button formaction="{{ url_for('editentries',x=entry.id) }}" class="leeet">edit</button>
                        </form>
                    {% endif %}
                    <span class="tooltiptext">Tags: {{ entry.tags }}</span>
                {%- endif -%}</div> </li>

        {% else %}
            <li><em>Unbelievable.  No entries here so far</em></li>
        {% endfor %}
    </ul>
{% endblock %}
