{% extends "layout.html" %}
{% block head %}
    {% for headstate in heads %}
        {{ headstate|safe }}
    {% else %}
    {% endfor %}
<script>
    $(document).ready(function() {
        $(".header").click(function () {
            $header = $(this);
            $content = $header.next();
            $content.slideToggle(800, function () {
                $header.text(function () {
                    return ($content.is(":visible") ? "-" : "+") + $header.text().slice(1);
                });
            });

        });
})
</script>
{% endblock %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
        <input type="hidden" name="token" value="{{ token }}">
        <dl>
            <dt>Title:
            <dd><input class=leet type=text size=30 name=title>
            <dt>Text:
            <dd><textarea class=leet name=text rows=5 cols=40></textarea>
            <dd><input class=leeet type=submit value=Share>
      </dl>
    </form>
  {% endif %}
  <ul class=entries>
  {% for entry in entries %}
      <li><h2 class="header">+"{{- entry.title }}" by <a
              href="{{ url_for('show_user_profile', username=entry.author) }}">{{ entry.author }}</a>
          </h2><div class="entry", style="display:none;border:1px solid">{{ entry.text|safe }}</div> 
          <br> {#dangerous entry.text has to be cleaned before being sent here#}
          {% if session.logged_in %}
          {% if entry.plusoned %} {% else %}
              <form action="{{ url_for('plusone',ident=entry.id) }}" , method="post" , class="add-entry">
                  <input class=leeet type=submit value="+1">
                  <input type="hidden" name="token" value={{ token }}>
                  <br>
              </form>
          {% endif %}
          {% endif %}
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </ul>
{% endblock %}
