{% extends "layout.html" %}
{% block head %}
    {% for headstate in heads %}
        {{ headstate|safe }}
    {% endfor %}
    <script src="https://unpkg.com/htmx.org@1.9.3" integrity="sha384-lVb3Rd/Ca0AxaoZg5sACe8FJKF0tnUgR2Kd7ehUOG5GCcROv5uBIZsOqovBAcWua" crossorigin="anonymous"></script>
{% endblock %}
{%- block metanavpost -%}
    <form action="{{ url_for("views.update_filter") }}" method=post class="single_line_form metanav" >
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <label>
            <input class=leet type=text size=30 name=tags value="default">
        </label><input class=leeet type=submit value=search>
    </form>&nbsp
{%- endblock -%}
{% block body %}
    {% if session.logged_in and edit is defined %}
        <form action="{{ url_for("views.add_entry") }}" method=post class=add-entry>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <input type="hidden" name="id" value="new">
            <dl>
                <dt>Title:</dt>
                <dd><label>
                    <input class=leet type=text size=30 name=title>
                </label></dd>
                <dt>Text:</dt>
                <dd><label>
                    <textarea class=leet name=text rows=5 cols=40></textarea>
                </label></dd>
                <dt>Tags:</dt>
                <dd><label>
                    <input class=leet type=text size=30 name=tags value="default">
                </label></dd>
                <dd><input class=leeet type=submit value=Share>
            </dl>
        </form>
    {% endif %}
    <ul class=entries>
        {% for entry in entries %}
            {% set s = srs() %}
            <li><h2 data-id="{{ entry.id }}"
                    class="header hider" data-for="{{ s }}">"{{ entry.title }}" by <a
                    href="{{ url_for("views.show_user_profile", username=entry.author) }}">{{ entry.author }}</a>
            </h2>
                <div id="{{ s }}" class="hiding entry tooltip" style="border:1px solid"><div id="{{ s }}_text" style="word-wrap:break-word"
                    hx-get="{{ url_for("views.entry_text", x=entry.id)}}" hx-trigger="revealed" hx-swap="outerHTML"></div>
                    {%- if session.logged_in -%}
                        {% if entry.own is defined %}
                            <form class="add-entry">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                <button formaction="{{ url_for("views.editentries",x=entry.id) }}" class="leeet">edit</button>
                            </form>
                        {% endif %}
                        <span class="tooltiptext">Tags: {{ entry.tags }}</span>

                    {%- endif -%}</div>
            </li>

        {% else %}
            <li><em>Unbelievable. No entries here so far</em></li>
        {% endfor %}
    </ul>
{% endblock %}
