{% extends "layout.html" %}
{% block body %}
    <h2>Timestep</h2>
    by Nova.
    <br>
    <form action="{{ url_for('timestep') }}" method=post>
        <input type="hidden" name="token" value="{{ token }}">
        {% if keyprovided %}

            <dt>Key:
            <dd><input class=leet type=text name=key>
                {% else %}
            <dt>Amount:
            <dd><input class=leet type=number name="amount">
        {% endif %}
        <dd><input class=leet type=submit value=Send>

    </form>
{% endblock %}
