{% extends "layout.html" %}
{% block head %}
    <script src="{{ url_for("static", filename="live_edit.js") }}?v={{ restart_id }}"></script>
<script> htmx.logAll();</script>
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="live_edit.css") }}?v={{ restart_id }}">
    <script>
        window.addEventListener("click", function (e) {
            const x = e.clientX, y = e.clientY, mouselement = document.elementFromPoint(x, y);
            if (mouselement.classList.contains("category"))
                return;
            const wikibody = document.getElementById("wikibody");
            const toc = wikibody.querySelector(".toc")?.innerText;
            const fulltext = wikibody.innerText.substring(toc ? toc.length : 0)
            if (mouselement === wikibody) return;
            const ratio = fulltext.indexOf(mouselement.innerText) / fulltext.length

            if (wikibody.contains(mouselement)) {
                mouselement.dataset["percentage"] = ratio;
                mouselement.ondblclick = async () => { await get_edit_content("{{wiki}}", mouselement)(); };
            }
        });
    </script>
    {% for headstate in heads %}
        {{ headstate|safe }}
    {% endfor %}
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="wiki.css") }}?v={{ restart_id }}">
{% endblock %}
{% block title %}
    <title xmlns="http://www.w3.org/1999/html">{{ title }}</title>
{% endblock %}
{% block pagetitle %}
    <h1><a href={{ url_for("wiki.wiki_index") }}>{{ title }}</a></h1>
{% endblock %}

{% block body %}

    <div class="wiki editable" id="wikibody" style="word-wrap:break-word;border:1px solid">{{ body|safe }}
        <br> {#dangerous body has to be cleaned before being sent here#}
    </div>
    <div style="margin: 2em">|
        {% for t in tags %}
            <a href="{{ url_for("wiki.tagsearch", tag = t) }}">{{ t }}</a> |
        {% endfor %}
        <br>
    </div>
    <a href="{{ url_for("wiki.editwiki", page=wiki) }}"><input type="button" class="medium" style="margin-bottom: 1em"
                                                       value="Edit"></a><br/>
    <div>
        <button id="TopButton" title="Upwards">Top</button>
    </div>
    <div id="editfield" class="editfield">
        <form id="editform" action="{{ url_for("wiki.live_edit") }}" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <input name="wiki" type="hidden" value="{{ wiki }}">
            <input type="hidden" name="type" value="text">
            <input name="original" id="original" type="hidden" value="">
            <label for="text" class="overlay">Text to Change</label><br/><textarea class="message" name="new"
                                                                                   id="text"></textarea>
            <div>
                <input type="button" class="bright " value="Close" id="closebutton">
                <input type="submit" class="bright bottombutton" value="Overwrite">
            </div>

        </form>
    </div>
    <div class="overlay" id="overlay"></div>
{% endblock %}
