{% extends "layout.html" %}
{% block title %}
    <title>Wiki-Index</title>
{% endblock %}
{% block pagetitle %}
    <a href="{{ url_for("wiki_index") }}"><h1>Wiki-Index</h1></a>
{% endblock %}
{% block body %}
    <h1> Entries </h1>
    <table><thead>
    <tr>
        <td>Site</td>
        <td>| Tags</td>
    </tr>
    </thead>
        <tbody>
        <tr>
            {% for m in entries %}
                <td>
                    <a href="{{ url_for("wikipage",page=m) }}"> {{ m }}</a> </td><td> |
                {% for x in tags[m] %}
                    <a href="{{ url_for("tagsearch",tag=x) }}">{{ x }}</a> |
                {% endfor %} </td></tr>
                <tr>
            {% endfor %}
            </tr>
        </tbody>
    </table>
    <form method="get" class="leet" action="{{ url_for("wikipage") }}" method="post">
        <input type="text" name="n" class="leeet">
        <button type="submit" class="leeet">New</button>
    </form>
{% endblock %}
