{% extends "layout.html" %}
{% block body %}
    Diese Website ist kein Dienst nach TMG §5, wird in keiner Weise kommerziell genutzt, sondern ausschließlich als ein
    privater Mehrbenutzer-Microblog und als Werkzeug zum durchführen von Rollenspielen.
    Die Benutzung dieser Website erfolgt ohne Gewähr irgend welcher Informationen oder Funktionalitäten und ist allen,
    die vom Author keine persönliche Erlaubnis bekommen haben, nicht erlaubt.
    Nach § 55 Rundfunkstaatsvertrag (RstV) dient diese Website ausschließlich persönlichen Zwecken (nämlich als Teil
    eines unentgeldlich abgehaltenen Rollenspiels)
    Die "Buy Credits"-Option die auf dieser Seite verfügbar ist, bezieht sich auf die interne Spielwelt und hat keine
    Verbindung zu echtem Geld.
{% endblock %}