<!doctype html>
<title>NossiNet</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
{% block head %}{% endblock %}
<div class=page>
    <h1><a href={{ url_for('show_entries') }}>NOSFERATU NETWORK</a></h1>
  <div class=metanav>
  {% if not session.logged_in %}
      <a href="{{ url_for('login') }}">log in</a>
      <a href="{{ url_for('register') }}">register</a>
  {% else %}
      <a href="{{ url_for('show_user_profile',username=session.user) }}">{{ session.user }}</a>  &nbsp
      <a href="{{ url_for('logout') }}">log out</a>
  {% endif %}
  </div>
    {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>
{% if not session.logged_in %}
    <br>
    <a href="{{ url_for('impressum') }}">Impressum</a>
{% endif %}
<script>
    function goBack() {
        window.history.back();
    }
</script>