
.editable:empty::before {
    content: "_";
    opacity: 0;
}

.editable:empty:not(:hover) {
    background: #f0f;
    opacity: 0.05;
    margin: 0;
    border: 0;
}

.editable {
    position: relative;
}

.editable::before {
    box-shadow: inset 0 0 10px -5px var(--shade-color),
    inset 0 0 10px -5px var(--shade-color);
    transition: 1s;
    position: absolute;
    top: 100%;
    left: 100%;
    width: calc(100% + 16px);
    height: calc(100% + 16px);
    transform: translate(calc(-100% + 8px), calc(-100% + 8px));
    content: " ";
    pointer-events: none;
}

.editable:hover::before {
    box-shadow: inset 10px 10px 10px -5px var(--highlight-color),
    inset -10px -10px 10px -5px var(--highlight-color);
    transition: 0.1s;
    position: absolute;
    top: 100%;
    left: 100%;
    width: 100%;
    height: 100%;
    content: " ";
    transform: translate(-100%, -100%);
    pointer-events: none;
}

#text {
    overflow: scroll;
}

.message {
    height: 80%;
    width: 95%;
    white-space: pre-wrap;
    transition: 0.1s;
    font-size: larger;
    clear: both;
}

.table_input {
    transition: 0.1s;
    background: black;
    color: var(--secondary-color);

}

.overlay {
    opacity: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: rgba(50, 60, 55, 0.8);
    transition: 0.5s;
    top: 0;
    left: 0;
}

.editfield {
    width: 90%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 90%;
    z-index: -1;
    position: fixed;
    background: var(--background-color);
    box-shadow: inset 0 0 1px 2px var(--secondary-color);
    box-sizing: border-box;
    visibility: hidden;
    display: inline-block;
    transition: 0.5s;
}

.editfield form {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    gap: 10px;

}

.editfield_table {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    position: fixed;
    background: black;
    box-shadow: inset 0 0 0 1px var(--primary-color);;
    box-sizing: border-box;
    visibility: hidden;
    display: inline-block;
    transition: 0.5s;
    padding: 10px;
    max-height: 95vh;
    overflow: scroll;
}


.bottombutton {
    margin: 10px;
}

#editform {
    width: 100%;
    height: 100%;
}

.activeedit {
    z-index: 3;
    transition: 0.5s;
    visibility: visible;
}

.failed {
    position: relative;
    will-change: transform;
}

.failed::before {
    box-shadow: inset 0 500px 100px 0 rgba(255, 0, 0, 0.3);
    transition: 10s;
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.message {
    background: var(--background-color);
    color: var(--primary-color)
}
