
.Ventrue  {
    fill : #1122aa !important
}


.Ventrue:hover  {
    fill : #4466dd !important
}

.Abt {
    fill: #332628 !important
    }
.Accipitridus {
    fill: #cc999e !important
    }
.Alea {
    fill: #ff001a !important
    }
.Anina {
    fill: #591631 !important
    }
.Aranka {
    fill: #bf004d !important
    }
.Aureliano {
    fill: #ff409f !important
    }
.Barrington {
    fill: #594353 !important
    }
.Corbinius {
    fill: #a6538d !important
    }
.Dalara {
    fill: #331a30 !important
    }
.Dust {
    fill: #f23de0 !important
    }
.Eddie {
    fill: #f2bfff !important
    }
.Eisenberg {
    fill: #4c1659 !important
    }
.Gabriel {
    fill: #8d29a6 !important
    }
.Gauge {
    fill: #8c40ff !important
    }
.Gott {
    fill: #3900bf !important
    }
.Hartlaub {
    fill: #9980ff !important
    }
.Horatio {
    fill: #8a86b3 !important
    }
.Ira {
    fill: #0a0066 !important
    }
.Jerou {
    fill: #333366 !important
    }
.Kurt {
    fill: #b6cef2 !important
    }
.Liam {
    fill: #001433 !important
    }
.Lichtenberg {
    fill: #0047b3 !important
    }
.Lycans {
    fill: #23588c !important
    }
.Magnis {
    fill: #398fe6 !important
    }
.Mertens {
    fill: #1a4f66 !important
    }
.Mitun {
    fill: #00a3cc !important
    }
.Nejem {
    fill: #99c7cc !important
    }
.Niers {
    fill: #006666 !important
    }
.Nikolai {
    fill: #008080 !important
    }
.Njord {
    fill: #009999 !important
    }
.Nua {
    fill: #00b3b3 !important
    }
.Pythia {
    fill: #00d9d9 !important
    }
.Quinn {
    fill: #00ff99 !important
    }
.Ragnar {
    fill: #269960 !important
    }
.Rothenfels {
    fill: #26332b !important
    }
.Rubia {
    fill: #ace6c3 !important
    }
.Samael {
    fill: #0d3318 !important
    }
.Saxum {
    fill: #455943 !important
    }
.Schmitt {
    fill: #67d936 !important
    }
.Siemens {
    fill: #397300 !important
    }
.Vepec {
    fill: #e6f2b6 !important
    }
.Zeger {
    fill: #bdcc33 !important
    }


.Test  {
    fill : #ff2211 !important
}


.Test:hover  {
    fill : #ff6644 !important
}

.plz:hover {
    fill : #ff1111
}

.plz {
    fill : #340404
}

.svgtext {
    pointer-events: none;
}
