
.Ventrue  {
    fill : #1122aa !important
}


.Ventrue:hover  {
    fill : #4466dd !important
}

.Test  {
    fill : #ff2211 !important
}


.Test:hover  {
    fill : #ff6644 !important
}

.plz:hover {
    fill : #ff1111
}

.plz {
    fill : #340404
}

.svgtext {
    pointer-events: none;
}