body {
    background: var(--background-color);
    color: var(--primary-color);
    font-family: "Lucida Grande", Monaco, monospace;
}

.page {
    justify-content: center;
    padding: 15px;
    width: 95%;
    color: var(--primary-color);
    background: var(--background-color);
}

.container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.column {
    padding: 15px;
    background-color: var(--background-color);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.column-left {
    flex-grow: 1 1 30%;
    margin-right: 20px;
    max-width: 50%;
}

.column-middle {
    flex: 1 1;
    margin-right: 20px;
}

.column-right {
    flex: 1 1;
}

h2 {
    margin-top: 0;
}

.section {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.gauge {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: flex-start;
    margin-bottom: 5px;
}

.gauge-box {
    width: 20px;
    height: 40px;
    transform: skewX(-40deg);
    transform-origin: bottom;
    background-color: var(--midground-color);
}

.cooldown>.gauge-box {
    animation: wave 5s linear forwards;
    animation-delay: calc(var(--bouncedelay) * 0.5s);
}

.gauge-box.filled {
    background-color: var(--secondary-color);
}

.trauma .gauge-box.filled {
    background-color: var(--warn-color);
}

@keyframes wave {
    0% { transform: translateY(0) skewX(-40deg); }
    10% { transform: translateY(-8px) skewX(-40deg); }
    20% { transform: translateY(5px) skewX(-40deg); }
    30% { transform: translateY(-4px) skewX(-40deg); }
    40% { transform: translateY(4px) skewX(-40deg); }
    50% { transform: translateY(-3px) skewX(-40deg); }
    60% { transform: translateY(3px) skewX(-40deg); }
    70% { transform: translateY(-2px) skewX(-40deg); }
    80% { transform: translateY(2px) skewX(-40deg); }
    90% { transform: translateY(-1px) skewX(-40deg); }
    100% { transform: translateY(0) skewX(-40deg); }
}

.stress.section {
    margin-bottom: 10px;
}

.metadata-item {
    display: flex;
    flex: 1 1 auto;
    box-sizing: border-box;
    margin-bottom: 10px;
    flex-direction: column;
    align-items: center;
}

.value {
    padding: 5px 10px;
    background-color: var(--background-color);
    display: inline-block;
    max-width: 100%;
}

.label {
    font-size: 0.8em;
    text-align: left;
    border-top: 1px solid var(--secondary-color);
    padding-top: 5px;
    width: 100%;
    display: inline-block;
    padding-bottom: 5px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: stretch;
    }
    .column-left, .column-middle, .column-right {
        flex: 1 1 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }
    .column-right {
        margin-bottom: 0;
    }
}

.harm.section {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 1rem;
    box-sizing: border-box;
}

.harmtable {
    border-collapse: collapse;
    margin-top: 10px;
    flex: 1;
    min-width: 200px;
}

.harmtable td {
    padding: 10px;
    text-align: center;
    border: 1px solid var(--secondary-color);
    background-color: var(--background-color);
}

.harmtable td:first-child,
.harmtable td:last-child {
    width: 30px;
    text-align: center;
}

.harmtable tr td:first-child {
    font-weight: bold;
}

.healing-clock-section {
    margin: 0;
    flex: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 50px;
    box-sizing: border-box;
}

.healing-clock-label {
    white-space:wrap;
    text-align:center;
}

.clock {
    margin: 0;
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid var(--midground-color);
    overflow: hidden;
}

.pirata-one-regular {
    font-family: "Pirata One", serif;
    font-weight: 400;
    font-style: normal;
}

.tillana-medium {
  font-family: "Tillana", system-ui;
  font-weight: 500;
  font-style: normal;
}

.input-field {
    width: 100%;
    height: 200px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    resize: vertical;
    background: var(--background-color);
    color: var(--primary-color);
    border: 1px solid var(--midground-color);
    outline: 1px solid var(--secondary-color);
}

.attribute-category {
    margin-bottom: 20px;
}

.category-header {
    background-color: black;
    color: white;
    padding: 5px;
    font-weight: bold;
    display: inline-block;
}

.skill {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.skill-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid var(--tertiary-color);
    display: inline-block;
    margin-right: 8px;
}

.skill-dot.filled {
    background-color: var(--secondary-color);
}
