body {
    background: var(--background-color);
    color: var(--primary-color);
    font-family: "Lucida Grande", Monaco, monospace;
}

.page {
    justify-content: center;
    padding: 15px;
    width: 95%;
    color: var(--primary-color);
    background: var(--background-color);
}

.container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.column {
    padding: 15px;
    background-color: var(--background-color);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.column-left {
    flex-grow: 1;
    margin-right: 20px;
    max-width: 50%;
}

.column-middle {
    flex: 1 1;
    margin-right: 20px;
    display: flex;
    justify-content:center
}


.column-right {
    flex: 1 1;
}

h2 {
    margin-top: 0;
}

.section {
    flex: 1 1;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    height:fit-content;
}
.section h2 {
    width: 100%;
    height: fit-content;
}

.vert {
    flex-direction: column;
}

.gauge {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: flex-start;
    margin-bottom: 5px;
}

.slanted-gauge .gauge-box {
    --skew-angle: -40deg;
    --scale-factor: 1;
    width: 20px;
    height: 40px;
    transform: skewX(var(--skew-angle));
    transform-origin: bottom;
    background-color: var(--midground-color);
}

.boxes-gauge .gauge-box {
    --skew-angle: -35deg;
    --scale-factor: 1.3;
    width: 15px;
    height: 15px;
    transform: skewX(var(--skew-angle)) scaleX(var(--scale-factor));
    transform-origin: bottom;
    background-color: var(--midground-color);
}

.cooldown>.gauge-box {
    animation: wave 5s linear forwards;
    animation-delay: calc(var(--bouncedelay) * 0.5s);
}

.gauge-box.filled {
    background-color: var(--secondary-color);
}

.trauma .gauge-box.filled {
    background-color: var(--warn-color);
}

@keyframes wave {
    0% { transform: translateY(0) skewX(var(--skew-angle)) scaleX(var(--scale-factor)) }
    10% { transform: translateY(-8px) skewX(var(--skew-angle)) scaleX(var(--scale-factor)) }
    20% { transform: translateY(5px) skewX(var(--skew-angle)) scaleX(var(--scale-factor))}
    30% { transform: translateY(-4px) skewX(var(--skew-angle)) scaleX(var(--scale-factor)) }
    40% { transform: translateY(4px) skewX(var(--skew-angle)) scaleX(var(--scale-factor)); }
    50% { transform: translateY(-3px) skewX(var(--skew-angle)) scaleX(var(--scale-factor)); }
    60% { transform: translateY(3px) skewX(var(--skew-angle)) scaleX(var(--scale-factor)); }
    70% { transform: translateY(-2px) skewX(var(--skew-angle)) scaleX(var(--scale-factor)); }
    80% { transform: translateY(2px) skewX(var(--skew-angle)) scaleX(var(--scale-factor)); }
    90% { transform: translateY(-1px) skewX(var(--skew-angle)) scaleX(var(--scale-factor)); }
    100% { transform: translateY(0) skewX(var(--skew-angle)) scaleX(var(--scale-factor)); }
}

.stress.section {
    margin-bottom: 10px;
}

.metadata-item {
    display: flex;
    flex: 1 1 auto;
    box-sizing: border-box;
    margin-bottom: 10px;
    flex-direction: column;
    align-items: center;
}

.value {
    padding: 5px 10px;
    background-color: var(--background-color);
    display: inline-block;
    max-width: 100%;
}

.label {
    font-size: 0.8em;
    text-align: left;
    border-top: 1px solid var(--secondary-color);
    padding-top: 5px;
    width: 100%;
    display: inline-block;
    padding-bottom: 5px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: stretch;
    }
    .column-left, .column-middle, .column-right {
        flex: 1 1 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }
    .column-right {
        margin-bottom: 0;
    }
}

.harm.section {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 1rem;
    box-sizing: border-box;
}

.harmtable {
    border-collapse: collapse;
    margin-top: 10px;
    flex: 1;
    min-width: 200px;
}

.harmtable td {
    padding: 10px;
    text-align: center;
    border: 1px solid var(--secondary-color);
    background-color: var(--background-color);
}

.harmtable td:first-child,
.harmtable td:last-child {
    width: 30px;
    text-align: center;
}

.harmtable tr td:first-child {
    font-weight: bold;
}

.healing-clock-section {
    margin: 0;
    flex: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 50px;
    box-sizing: border-box;
}

.healing-clock-label {
    white-space:wrap;
    text-align:center;
}

.clock {
    margin: 0;
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid var(--midground-color);
    overflow: hidden;
}

.pirata-one-regular {
    font-family: "Pirata One", serif;
    font-weight: 400;
    font-style: normal;
}

.tillana-medium {
    font-family: "Tillana", system-ui;
    font-weight: 500;
    font-style: normal;
}

.input-field {
    width: 100%;
    height: 200px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    resize: vertical;
    background: var(--background-color);
    color: var(--primary-color);
    border: 1px solid var(--midground-color);
    outline: 1px solid var(--secondary-color);
    transition: outline 0.5s ease-out;
}

.attribute-category {
    margin-bottom: 20px;
}

.category-header {
    background-color: var(--background-color);
    color: var(--primary-color);
    padding: 5px;

    display: inline-block;
}

.skill-table {
    display: flex;
    align-items: start;
}


.first-dot-column {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--tertiary-color);
    padding: 5px 2px;
    justify-content: flex-start;
    height: auto;
}
.first-dot-column span:not(:last-child) {
    margin-bottom: 10px; /* Space between dots */
}
.skills {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--background-color);
}

.checkcircle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid var(--tertiary-color);
    display: inline-block;
    margin: 0 2px;
}

.checkcircle.filled {
    background-color: var(--secondary-color);
}

.skill.checkcircle {

}


.preview-box {
    visibility: hidden;
    position: absolute;
    background: var(--background-color);
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    padding: 10px;
    width: 200px;
    box-shadow: 2px 2px 5px var(--highlight-color);
    opacity: 0;
    transform: translateY(-10px);
    transition: transform 0.2s ease 0.5s;
    outline: 2px solid rgba(0,0,0,0);
    bottom: 100%;
    left: 100%;
}
.preview-container:hover .preview-box,
.preview-container:focus-within .preview-box {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    animation: fadeIn 0.5s forwards;
    z-index: 1;
}
.preview-container:not(:hover):not(:focus-within) .preview-box {
    animation-delay: 1s;
    animation: fadeOut 0.5s forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        visibility: visible;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes fadeOut {
    0% {
        visibility: visible;
    }
    100% {
        visibility: hidden;
    }
}

.preview-box:focus-within {
    border: 1px solid var(--tertiary-color);
    outline: 2px solid var(--primary-color);
    color: var(--primary-color);
    outline-offset: 2px;
    transition: outline 0.5s ease-out;
}

.preview-box:focus-within > a {
    outline: 1px solid var(--background-color);
}
.preview-box > a {
    color:var(--primary-color);
    text-decoration-line: none;
}


.preview-container {
    position: relative;
    width: fit-content;
}

.flex-center {
    width: fit-content;
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;     /* Centers vertically */
    flex-direction: column;
}



.preview-label {
    position: relative;
}

.checkbox {
    opacity:0;
    width:0;
}


.checkbox + label::before {
    content: "";
    width: 0.8em;
    height: 0.8em;
    border-radius: 50%;
    transform: translateY(2px); /* Adjust for exact centering */
    border: 1px solid var(--tertiary-color);
    background-color: var(--background-color);
    display: inline-block;
    margin-right: 8px;
    transition: background-color 0.5s ease, border-color 0.2s ease;
}

.checkbox:checked + label::before {
    background-color: var(--secondary-color);
    border: 1px solid var(--tertiary-color);
}


.checkbox + label {
    outline: 2px solid rgba(0,0,0,0);
    outline-offset: 2px;
}
.checkbox:focus-visible + label {
    outline: 2px solid var(--secondary-color);
    outline-offset: 2px;
    transition: 0.5s;
}
