
.flexwrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.categories{
    align-items: flex-start;
}


@media only screen and (max-width: 600px) {
    .page {
        border: none;
        margin: unset;
        width: 100%;
        padding: unset;
    }
    .category {
        border: 1px solid var(--tertiary-color);
    }
}

.category {
    flex: 1 1 80px;
    margin: 2px;
    border: 1px solid var(--tertiary-color);
    align-self: stretch;
}

.infobox {
    flex: 1 1 0;
    align-items: center;
}

.box{
    border: 1px solid var(--tertiary-color);
}

.desc-text {
    white-space: pre;
    margin:5px;
}


.statblock {
    display: grid;
    grid-gap: 5px;
    margin-bottom: 10px;
}

.span-2 {
    grid-column: 1/3;
}

.span-0 {
    grid-column: 1/3;
    visibility: hidden;
}
.sheetheading {
  display: block;
  font-size: 2em;
  font-weight: bold;
  line-height: 1.2;
}
.hiderbox:checked ~ .sheetheading::before {
content:"-"
}
.hiderbox:not(:checked) ~ .sheetheading::before {
content:"+"
}

.depth1 {
    font-size: 2em;
}
.depth2 {
    font-size: 1.8em;
}
.depth3 {
    font-size: 1.5em;
}
.depth4 {
    font-size: 1.2em;
}
.depth5 {
    font-size: 1.1em;
}
.depth6 {
    font-size: 1 em;
}
