* {
    color: #00f700;
    font-family: "Lucida Console", Monaco, monospace;
}

body {
    background: black;
    overflow-x: auto;
}

a, h1, h2 { color: #00f700; }

h1 { border-bottom: 2px solid #000000; }
h2 { font-size: 1.2em; }
h3 { font-size: 1.0em; }

h3 { color: #007700; }

.page {
    margin: 1em auto;
    width: 95%;
    min-width: 35em;
    border: 5px solid #00f700;
    padding: 0.8em;
    background: #010101;
    color: #00f700;
}

.leet {
    background-color: black;
    font-weight: bold;
    color: #00f700;
    border: 1px solid #00f700;
    margin: 1px;
}

.leeet {
    background-color: #101a10;
    font-weight: bold;
    color: #00f700;
    border: 1px solid #00f700;
    margin: 1px;
}

.dividedtable {
    border-collapse: collapse;
    border-color: #101a10;
}

.dividedtable:last-child {
    border-color: #00f700;
    border-bottom: #00f700;
}


input[type="text"],
textarea {
    background-color: black;
    color: #00f700;
}

pre {
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.entries {
    list-style: none;
    margin: 0;
    padding: 0;
    background: #000000;
    color:#00f700
}

.entries li { margin: 0.8em ; }
.entries li h2  { margin-left: 0; }

label { white-space: nowrap}

.add-entry {
    font-size: 0.9em;
    border-bottom: 1px solid #000000;
}

.add-entry dl { font-weight: bold; color: #00f700; }

.metanav {
    text-align: right;
    font-size: 0.8em;
    padding: 0.3em;
    margin-bottom: 1em;
    background: #000;
    color: #00f700;
}

.flash {
    background:#000;
    padding: 0.5em;
    border: 1px solid #00f700;
}

.imgover {
    background: transparent;
    position: absolute;
    left: 0;
    top: 0;
}

.error {
    background: #cf0012;
    padding: 0.5em;
    color: #000000
}

.healthbar{
    position:fixed; left:0; bottom:2.2%;
    height: 1%;
    width:  100%;
    background-color: #00f700;
}
.bashbar{
    position:fixed; left:0; bottom:2.2%;
    height: 1%;
    width:  0;
    background-color: #003700;
}
.lethalbar{
    position:fixed; left:0; bottom:2.2%;
    height: 1%;
    width:  0;
    background-color: #700720;
}.aggbar{
    position:fixed; left:0; bottom:2.2%;
    height: 1%;
    width:  0;
    background-color: #a00050;
}

.bloodbar{

    position:fixed; left:0; bottom:1%;
    height: 1.2%;
    width:  100%;
    background-color: #900001;

}

.willbar{
    position:fixed; left:0; bottom:0;
    height: 1%;
    width:  100%;
    background-color: #6060f0;

}

.chatbox {
    position: relative;
    width : 95%;
    text-align:left;
    margin-bottom:25px;
    padding:10px;
    background:#000;
    height:320px;
    white-space: pre-wrap;
    border:1px solid #00f700;
    overflow:auto;
}

::-webkit-scrollbar {
    width: auto;
}

::-webkit-scrollbar-track {
    background-color: #000200;
}

::-webkit-scrollbar-thumb {
    background-color: #00f700;
}

::-webkit-scrollbar-button {
    background-color: #003300;
}

::-webkit-scrollbar-corner {
    background-color: #003300;
}

#usermsg {
    width:395px;
    border:1px solid #00f700;
}

#submit { width: 60px; }

.formLine {
    overflow: hidden;
    background: #ccc;
    width: 100%
}

.formLine span {
    display: block;
    overflow: hidden;
    padding: 0 5px;
}

.formLine input {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

input[type='radio'] {
    float: right;
    position:absolute;
    visibility: hidden;
}

input[type='radio'] + label {
    margin: 0;
    clear: none;
    padding: 0 2px 0 1px;
    cursor: pointer;
    background: url(off.png) left center no-repeat;
}

input[type='radio']:checked + label {
    background: url(radio.png) left center no-repeat;
}
