
* {
    color: #00f000;
    font-family: "Lucida Grande", Monaco, monospace;
}

html {
    min-height: 100%;
}

body {
    min-height: 100%;
    background: black;
    overflow-x: auto;
}

a, h1, h2 { color: #00c700; }

h1 { border-bottom: 2px solid #000000; }
h2 { font-size: 2em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.25em; }
h5 { font-size: 1.125em; }
h6 { font-size: 1em; }
h3 { color: #00d710; }
h4 { color: #10b720; }
h5 { color: #209730; }
h6 { color: #307740; }

img {
    width: 200px;
    transition: 0.5s;
}

img:hover{
    width: 100%;
    transition: 0.5s;
}


hr {
    border: 0;
    height: 0; /* Firefox... */
    box-shadow: 0 0 2px 1px  #109010;
}

.page {
    margin: 1em auto;
    width: 90%;
    border: 3px solid #00f700;
    padding: 0.8em;
    background: #010101;
    color: #00e700;
}

.leet {
    background-color: black;
    color: #00d700;
    border: 1px solid #00d700;
    margin: 10px;
}

.leeet {
    background-color: #0a120a;
    font-weight: bold;
    color: #00e700;
    border: 1px solid #00e700;
    margin: 1px;
}

.leeeet {
    background-color: #0a1012;
    font-weight: bold;
    color: #00f700;
    border: 1px solid #00f700;
    margin: 1px;
}

.entry {
    padding: 1em;
    display: inline-block;
    white-space: pre-wrap;
}

.wiki {
    padding: 1em;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: black;
    box-shadow: inset 0 0 0 1px #00d700;
    box-sizing: border-box;
    padding: 1px;
    color: #4f4;
    text-align: center;
    position: absolute;
    transform: translateX(-100%) translateY(-100%);

    z-index: 1;
    white-space: nowrap;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.hider:before {
    content: "+";
}

.hider.hider-expanded:before {
    content: "-";
}


.hiding{
    height: 0 !important;
    display: none;
    overflow: hidden;
    transition: 1s;
}

.nothiding{
    overflow: auto;
    transition: 0.5s;
}

#TopButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #109010;
    color: black;
    cursor: pointer;
    padding: 15px;
    border-radius: 5px;
}

#TopButton:not(:hover) {
    opacity: 0.3;
}

.collapsible{
    background-color: #000005;
    cursor: pointer;
    padding: 2px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    font-family: "Lucida Grande", Monaco, monospace;
}

.active, .collapsible:hover {
    background-color: #311;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    color: #0da318;
    background-color: #000005;
}


input[type="text"],
textarea {
    background-color: black;
    color: #00f700;
}

.entries {
    list-style: none;
    margin: 1em;
    padding: 0;
    background: #000000;
    color:#00f700
}

.entries li { margin: 0.8em ; }
.entries li h2  { margin-left: 0; }

label { white-space: nowrap }

.bigbtn {
    position: absolute;
    width: 100%;
    height: 100px;
    font-size: 48px;
}

.add-entry {
    font-size: 0.9em;
    border-bottom: 1px solid #000000;
}


.add-entry dl { font-weight: bold; color: #00f700; }

.metanavcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.metanav {
    flex: 1 1 0;
    text-align: center;
    font-size: smaller;
    padding: 0.3em;
    margin: 1em;
    background: #000;
    color: #00f700;
}

.flash {
    background:#000;
    padding: 0.5em;
    border: 1px solid #00f700;
}

.imgover {
    background: transparent;
    position: absolute;
    left: 0;
    top: 0;
}

.error {
    background: #cf0012;
    padding: 0.5em;
    color: #000000
}
.chatbox {
    position: relative;
    width : 95%;
    text-align:left;
    margin-bottom:25px;
    padding:10px;
    background:#000;
    height:320px;
    white-space: pre-wrap;
    border:1px solid #00f700;
    overflow:auto;
}

::-webkit-scrollbar {
    width: auto;
}

::-webkit-scrollbar-track {
    background-color: #000200;
}

::-webkit-scrollbar-thumb {
    background-color: #00f700;
}

::-webkit-scrollbar-button {
    background-color: #003300;
}

::-webkit-scrollbar-corner {
    background-color: #003300;
}

#usermsg {
    width:395px;
    border:1px solid #00f700;
}

#submit { width: 60px; }

.formLine {
    overflow: hidden;
    background: #ccc;
    width: 100%
}

.formLine span {
    display: block;
    overflow: hidden;
    padding: 0 5px;
}

.formLine input {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

input[type='radio'] {
    float: right;
    position:absolute;
    visibility: hidden;
}

input[type='radio'] + label {
    margin: 0;
    clear: none;
    padding: 0 2px 0 1px;
    cursor: pointer;
    background: url(off.png) left center no-repeat;
}

input[type='radio']:checked + label {
    background: url(radio.png) left center no-repeat;
}

.tablebody:nth-child(even) {background-color: #081008}

.alternate:nth-child(4n) {
    content: "";
    background: #000008;
}
.alternate:nth-child(4n-1) {
    content: "";
    width: 110%;
    background: #000008;
}

.category:nth-child(even){
    background: #000c0f;
}
.category:nth-child(odd){
    background: #000f0c;
}


.heading {
    font-size: 24px;
    border: 1px solid #003700;
    text-align: center;
    background-color: #06110c;
}

.subheading {
    font-size: 20px;
    border: 1px solid #002700;
    text-align: center;
    background-color: #002008;
}
