* {
    color: #00f000;
    font-family: "Lucida Grande", Monaco, monospace;
}

body {
    background: black;
    overflow-x: auto;
}

a, h1, h2 { color: #00f700; }

h1 { border-bottom: 2px solid #000000; }
h2 { font-size: 2em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.25em; }
h5 { font-size: 1.125em; }
h6 { font-size: 1em; }
h3 { color: #00d710; }
h4 { color: #10b720; }
h5 { color: #209730; }
h6 { color: #307740; }

hr {
    border: 0;
    height: 0; /* Firefox... */
    box-shadow: 0 0 2px 1px  #109010;
}

.page {
    margin: 1em auto;
    width: 90%;
    border: 3px solid #00f700;
    padding: 0.8em;
    background: #010101;
    color: #00f700;
}

.leet {
    background-color: black;
    color: #00d700;
    border: 1px solid #00d700;
    margin: 10px;
}

.leeet {
    background-color: #0a120a;
    font-weight: bold;
    color: #00e700;
    border: 1px solid #00e700;
    margin: 1px;
}

.leeeet {
    background-color: #0a1012;
    font-weight: bold;
    color: #00f700;
    border: 1px solid #00f700;
    margin: 1px;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #4f4;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.dividedtable {
    border-collapse: collapse;
    border: 1px solid #101a10;
}
#TopButton {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #109010;
  color: black;
  cursor: pointer;
  padding: 15px;
  border-radius: 5px;
}

#TopButton:not(:hover) {
    opacity: 0.3;
}





.collapsible{
    background-color: #000005;
    cursor: pointer;
    padding: 2px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    font-family: "Lucida Grande", Monaco, monospace;
}

.active, .collapsible:hover {
    background-color: #311;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    color: #0da318;
    background-color: #000005;
}


input[type="text"],
textarea {
    background-color: black;
    color: #00f700;
}

pre {
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.entries {
    list-style: none;
    margin: 1em;
    padding: 0;
    background: #000000;
    color:#00f700
}

.entries li { margin: 0.8em ; }
.entries li h2  { margin-left: 0; }

label { white-space: nowrap}

.bigbtn {
    float: top;
    width: 100%;
    height: 100px;
    font-size: 48px;
}

.add-entry {
    font-size: 0.9em;
    border-bottom: 1px solid #000000;
}


.add-entry dl { font-weight: bold; color: #00f700; }

.entry {
    padding: 1em;
    display: inline-block;
}

.metanav {
    text-align: right;
    font-size: 0.8em;
    padding: 0.3em;
    margin-bottom: 1em;
    background: #000;
    color: #00f700;
}

.flash {
    background:#000;
    padding: 0.5em;
    border: 1px solid #00f700;
}

.imgover {
    background: transparent;
    position: absolute;
    left: 0;
    top: 0;
}

.error {
    background: #cf0012;
    padding: 0.5em;
    color: #000000
}

.healthbar{
    position:fixed; left:0; bottom:2.2%;
    height: 1%;
    width:  100%;
    background-color: #00f700;
}
.bashbar{
    position:fixed; left:0; bottom:2.2%;
    height: 1%;
    width:  0;
    background-color: #003700;
}
.lethalbar{
    position:fixed; left:0; bottom:2.2%;
    height: 1%;
    width:  0;
    background-color: #700720;
}.aggbar{
     position:fixed; left:0; bottom:2.2%;
     height: 1%;
     width:  0;
     background-color: #a00050;
 }

.bloodbar{

    position:fixed; left:0; bottom:1%;
    height: 1.2%;
    width:  100%;
    background-color: #900001;

}

.willbar{
    position:fixed; left:0; bottom:0;
    height: 1%;
    width:  100%;
    background-color: #6060f0;

}

.chatbox {
    position: relative;
    width : 95%;
    text-align:left;
    margin-bottom:25px;
    padding:10px;
    background:#000;
    height:320px;
    white-space: pre-wrap;
    border:1px solid #00f700;
    overflow:auto;
}

::-webkit-scrollbar {
    width: auto;
}

::-webkit-scrollbar-track {
    background-color: #000200;
}

::-webkit-scrollbar-thumb {
    background-color: #00f700;
}

::-webkit-scrollbar-button {
    background-color: #003300;
}

::-webkit-scrollbar-corner {
    background-color: #003300;
}

#usermsg {
    width:395px;
    border:1px solid #00f700;
}

#submit { width: 60px; }

.formLine {
    overflow: hidden;
    background: #ccc;
    width: 100%
}

.formLine span {
    display: block;
    overflow: hidden;
    padding: 0 5px;
}

.formLine input {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

input[type='radio'] {
    float: right;
    position:absolute;
    visibility: hidden;
}

input[type='radio'] + label {
    margin: 0;
    clear: none;
    padding: 0 2px 0 1px;
    cursor: pointer;
    background: url(off.png) left center no-repeat;
}

input[type='radio']:checked + label {
    background: url(radio.png) left center no-repeat;
}
